<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="{{ meta_data.theme_color }}" />
    <meta name="author" content="{{ meta_data.author }}" />
    <meta name="description" content="{{ description }}" />

    <!-- Open Graph Tags -->
    <meta property="og:title" content="{{ meta_data.og_title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta
      property="og:image"
      content="{{ meta_data.url }}{{ meta_data.og_img }}"
    />
    <meta property="og:url" content="{{ meta_data.url }}" />
    <meta property="og:type" content="website" />

    <meta property="og:site_name" content="{{ meta_data.site_name }}" />
    <meta property="og:locale" content="en_US" />

    {% block head %}{% endblock %}

    <title>{{ title }}</title>

    <link rel="canonical" href="{{ meta_data.url }}" />
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css" />

    <!-- Favicons, place .svg above .ico -->
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" sizes="any" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/static/img/favicon-16x16.png" sizes="16x16" />
    <link
      rel="apple-touch-icon"
      href="/static/img/icons/apple-touch-icon.png"
    />
    <link rel="manifest" href="/static/img/icons/site.webmanifest" />

    <link
      rel="icon"
      href="/static/img/logo-light.svg"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      href="/static/img/logo-dark.svg"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="preload"
      href="/static/fonts/safiro-medium.otf"
      as="font"
      type="font/otf"
      crossorigin="anonymous"
    />

    <script src="../static/javascript/index.js" type="module" defer></script>

    <!-- Data Schema -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "{{ meta_data.site_name }}",
        "url": "{{ meta_data.url }}",
        "logo": "{{ meta_data.url }}/favicon.ico",
        "image": "{{ meta_data.og_img }}",
        "sameAs": [
          "https://www.instagram.com/aaron_garcia_creative/",
          "https://twitter.com/AXYSCreative",
          "https://dribbble.com/axyscreative"
        ],
        "contactPoint": {
          "@type": "ContactPoint",
          "email": "aaronegarcia1@gmail.com",
          "contactType": "Support"
        }
      }
    </script>
  </head>
  <body>
    <!-- prettier-ignore -->
    {% include "./partials/header.html" %}
    {% include "./partials/nav.html" %}
    <main>{{ content | safe }}</main>
    {%include "./partials/footer.html" %}
    <!-- prettier-ignore -->

    <div class="mouse-cursor" aria-hidden="true">
      <span class="mouse-cursor__tooltip"></span>
    </div>

    <div class="loader site-loading">
      <div class="loader__content-group">
        <svg
          width="70"
          height="59"
          viewBox="0 0 70 59"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="loader__svg"
        >
          <path
            d="M34.5 4L66 55H47L25.5 20L4 55H23.5L28 47"
            stroke-width="8"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="loader__svg-elem"
          ></path>
        </svg>
        <span class="loader__text">Loading...</span>
      </div>
    </div>

    {% if path == "home" %}
    <!-- Netlify Identity Widget -->
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    {% endif %}

    <script src="/static/js/alpine.js"></script>
    <script src="https://unpkg.com/lenis@1.1.14/dist/lenis.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
