// availability
@keyframes glow-dot {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes glow-dot-blur {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

// hero glow balls
@keyframes hero-glow-ball-group {
  0% {
    rotate: 20deg;
  }

  100% {
    rotate: 380deg;
  }
}

@keyframes hero-glow-ball-1 {
  from {
    translate: 50% 0;
  }
  to {
    translate: -20% 0;
  }
}

@keyframes hero-glow-ball-2 {
  from {
    translate: -50% 0;
  }
  to {
    translate: 20% 0;
  }
}

// cta-1
@keyframes cta-pop {
  0%,
  100% {
    scale: 1;
  }
  50% {
    scale: 1.075;
  }
}

// cta-1--large
@keyframes cta-emoji-jump {
  0%,
  20%,
  100% {
    translate: 0 0;
    rotate: 0deg;
  }
  10% {
    translate: 0 -25%;
    rotate: 12deg;
  }
}

@keyframes cta-arrow-1 {
  0% {
    translate: -140% 0;
  }
  50%,
  100% {
    translate: 0 0;
  }
}

@keyframes cta-arrow-2 {
  0% {
    translate: 0 0;
  }
  50%,
  100% {
    translate: 140% 0;
  }
}

// carousel (work-gallery on about page)
@keyframes carousel-1 {
  from {
    translate: 0 0;
  }
  to {
    translate: -50% 0;
  }
}

// loader
@keyframes loader-svg-elem {
  to {
    stroke-dashoffset: 0;
  }
}

//
// Using full-animation
//

// Logo Interaction
@keyframes logo-interaction {
  0% {
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dashoffset: -196px;
  }
  100% {
    stroke-dashoffset: -388px;
  }
}

// // classic-link
// @keyframes classic-link-interaction {
//   0%,
//   100% {
//     left: 0;
//     right: auto;
//     width: 100%;
//   }
//   50% {
//     width: 0;
//     left: auto;
//     right: 0;
//   }
// }
