* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: $font-family-primary; // breaks .h2?

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus-visible {
    -webkit-text-fill-color: var(--primary-font-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--primary-font-color);

  & > * {
    max-width: $content-width;
    margin: auto;
  }
}

header.site-header {
  & > * {
    z-index: 5;
    position: fixed;
  }

  .header-logo {
    @include left-spacing;
    top: 56px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px;
    // mix-blend-mode: difference;

    @include mq-min("xxxl") {
      left: calc(50% - calc(1920px / 2) + $body-padding);
    }

    @include mq-max("md") {
      top: 38px;
    }

    &__icon {
      width: 32px;
      transition: 0.2s ease;

      @include mq-max("xxl") {
        width: 28px;
      }
    }
  }

  .header-links {
    @include row-center;
    top: 60px;
    left: 50%;
    translate: -50% 0;
    gap: 48px;
    transition: 0.3s ease 0.1s;

    @include mq-max("xxl") {
      gap: 32px;
    }

    @include mq-max("xl") {
      display: none;
    }

    &__link {
      &:hover,
      &:focus-visible {
        &::after {
          background: var(--primary-font-color);
        }
      }
    }
  }

  .menu-btn-wrapper {
    @include right-spacing;
    top: 72px;
    translate: 0 -50%;
    // transition: 0.6s $cubic-ease;
    // mix-blend-mode: color-dodge; // play with something other than difference

    @include mq-min("xl") {
      display: none;
    }

    @include mq-max("md") {
      top: 48px;
    }

    .menu-btn {
      $line-space: 4px;
      // $line-shift: 3px;
      $line-shift: 0px;

      width: 36px;
      height: 36px;
      padding: 4px;
      transition: 0.2s ease 0s;

      &:hover,
      &:focus-visible {
        scale: 1.1;
      }

      &:active {
        scale: 0.9;
      }

      .menu-btn-line-wrapper {
        position: relative;
        transition: 0.5s $cubic-ease;
      }

      &-line {
        @include absolute-center;
        width: 28px;
        height: 3px;
        background: $white;
        transition: 0.5s $cubic-ease, translate 0.3s ease;

        &:first-of-type {
          translate: calc(-50% + $line-shift) calc(-50% - $line-space);
          border-radius: $radius $radius 0 0;
        }

        &:last-of-type {
          translate: calc(-50% - $line-shift) calc(-50% + $line-space);
          border-radius: 0 0 $radius $radius;
        }
      }
    }

    &.menu-wrapper-page-top {
      transition: opacity 0.3s ease 0.3s;
    }
  }

  // &.away-from-top {

  // }

  &.scrolling-down {
    .header-links {
      translate: -50% -128px;

      &:focus-within {
        translate: -50% 0;
      }
    }

    .strap {
      @include mq-max("xxxl") {
        translate: 58% 0;

        &:hover,
        &:focus-within {
          translate: 0 0;
        }
      }

      @include mq-max("xxl") {
        translate: 50% 0;
      }
    }
  }

  &.nav-active {
    .menu-btn-line-wrapper {
      rotate: 90deg;

      .menu-btn-line {
        border-radius: $radius;

        &:first-of-type,
        &:last-of-type {
          translate: -50% -50%;
          rotate: 45deg;
        }
        &:last-of-type {
          // rotate: -45deg;
          rotate: -225deg;
        }
      }
    }

    .strap {
      translate: 0 0;
    }
  }
}

// TYPE - Mobile only
nav {
  $default-transition: translate 0.9s $cubic-ease 0s;
  $active-transition: translate 0.9s $cubic-ease;
  // $nav-radius: 24px;

  position: fixed;
  top: 0;
  // background: var(--background-color);
  background: #271f1f;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  min-height: 420px;
  overflow: auto;
  z-index: 4;

  translate: 100% 0;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  transition: $default-transition;

  @include mq-min("xl") {
    display: none;
  }

  .nav-links,
  .nav-footer-links {
    @include left-spacing;
    position: absolute;
  }

  .nav-links {
    @include column-start;
    top: 50%;
    translate: 0 -50%;
    gap: 12px;

    li {
      translate: 64px 0;
      opacity: 0;

      @for $i from 1 through 4 {
        $delay: 0.06s * $i;

        &:nth-of-type(#{$i}) {
          transition: 0s ease 1s;
        }
      }
    }

    .nav-link {
      @extend .h1;
      position: relative;
      display: inline-block;

      @include mq-motion-allow {
        transition: 0.5s $cubic-ease;
      }

      &:hover,
      &:focus-visible {
        translate: 20px 0;

        @include mq-max("md") {
          translate: 16px 0;
        }

        &::before {
          opacity: 1;
          translate: -32px -50%;

          @include mq-max("md") {
            translate: -24px -50%;
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        translate: 0 -50%;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: var(--secondary-accent-color);
        z-index: -1;
        opacity: 0;

        @include mq-motion-allow {
          transition: 0.5s $cubic-ease;
        }

        @include mq-max("md") {
          width: 14px;
          height: 14px;
        }

        @include mq-max("sm") {
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  .nav-footer-links {
    @include row-center;
    bottom: $body-padding;
    gap: 24px;

    @include mq-max("md") {
      @include column-start;
      gap: 12px;
      bottom: $body-padding-xxl;
    }

    @include mq-max("sm") {
      bottom: 36px;
    }

    li {
      translate: 0 24px;
      opacity: 0;

      @for $i from 1 through 4 {
        $delay: 0.06s * $i;

        &:nth-of-type(#{$i}) {
          transition: 0s ease 1s;
        }
      }

      .nav-footer-link {
        padding: 3px;
      }
    }
  }

  &[aria-hidden="false"] {
    translate: 0 0;
    transition: $active-transition;

    .nav-links {
      li {
        opacity: 1;
        translate: 0 0;
        @for $i from 1 through 4 {
          $delay: 0.12s * $i;

          &:nth-of-type(#{$i}) {
            transition: 1.2s $cubic-ease 0.08s + $delay;
          }
        }
      }
    }

    .nav-footer-links {
      li {
        opacity: 1;
        translate: 0 0;
        @for $i from 1 through 4 {
          $delay: 0.12s * $i;

          &:nth-of-type(#{$i}) {
            transition: 1.2s $cubic-ease 0.3s + $delay;
          }
        }
      }
    }

    // State change from nav.js
    .strap {
      @include mq-motion-allow {
        translate: 0 0;
        transition: translate 0.8s $cubic-ease 0.08s;
      }
    }
  }
}

section {
  @include horizontal-padding;
  @include vertical-padding;

  &:has(.escape-padding) {
    // remove padding for section (parent)
    padding-inline: 0;

    & > *:not(.escape-padding) {
      // restore padding for all direct children without 'escape-padding' utility
      @include horizontal-padding;
    }
  }
}

footer.site-footer {
  @include row-center(space-between);
  position: relative;
  padding: $body-padding;

  @media all {
    @include mq-max("lg") {
      justify-content: flex-start;
      padding: $body-padding-md;
    }

    @include mq-max("md") {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }

    @include mq-max("sm") {
      padding-block-end: 48px;
    }
  }

  .copyright {
    @include row-center;
    gap: 10px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    translate: calc(-50% - 6px) 50%;
    font-size: 12px;
    letter-spacing: 0.5px;

    @include mq-max("lg") {
      left: auto;
      right: $body-padding-md;
      translate: 0 100%;
    }

    @include mq-max("sm") {
      position: static;
      order: 1;
      translate: 0 0;
    }
  }

  .return-to-top,
  .axys-link {
    translate: -8px;

    @include mq-max("md") {
      font-size: 12px;
    }
  }

  .axys-link {
    @include mq-max("md") {
      margin-block-end: 24px;
    }
  }
}

h1 {
  @extend .h1;
}
h2 {
  @extend .h2;
}
h3 {
  @extend .h3;
}
h4 {
  @extend .h4;
}
h5 {
  @extend .h5;
}
h6 {
  @extend .h6;
}

p,
a,
button,
ul {
  color: var(--primary-font-color);
  font-family: $font-family-primary;
  font-size: 18px;
  font-weight: 400;

  @include mq-max("xxl") {
    font-size: 16px;
  }

  @include mq-max("md") {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

small {
  font-family: $font-family-primary;
}

hr {
  border: none;
  height: 2px;
  background: $bluey;
}

abbr[title] {
  text-decoration: underline solid;
}

// Components

.availability {
  @include row-center;
  gap: 12px;

  &__text {
    // font-family: $font-family-secondary;
    font-size: 14px;
    // font-weight: 400;
    text-transform: uppercase;
    // letter-spacing: 0.1ch;

    @include mq-max("xxl") {
      font-size: 13px;
    }

    @include mq-max("md") {
      font-size: 12px;
    }
  }

  &__dot {
    $duration: 2s;

    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--secondary-accent-color);
    filter: brightness(1.1);
    animation: glow-dot $duration linear infinite alternate;

    &::after {
      content: "";
      @include absolute-center;
      width: 12px;
      height: 12px;
      background-color: var(--secondary-accent-color);
      z-index: -1;
      filter: blur(6px);
      animation: glow-dot-blur $duration linear infinite alternate;
    }
  }
}

.badge-list {
  @include row-center(flex-start);
  flex-wrap: wrap;
  gap: 12px;

  .badge {
    border: 1px solid $bluey;
    border-radius: 24px;
    padding: 8px 24px;
    font-size: 14px;
    flex-shrink: 0;
  }
}

.cta-1 {
  background: var(--primary-accent-color);
  padding: 12px 28px;
  border-radius: $radius;
}

.cta-group {
  @include row-center;
  gap: 24px;
  flex-shrink: 0;
}

#skip-to-content {
  position: fixed;
  top: -40px;
  left: 0;
  color: #fff;
  padding: 8px;
  z-index: 100;
  transition: top 0.3s ease;

  &:focus {
    top: 0;
  }

  @include mq-max("xl") {
    display: none;
  }
}

.portrait-sm {
  $size: 96px;

  width: $size;
  height: $size;
  border-radius: 50%;
  display: inline-block;
  translate: 0 20%;

  @media all {
    @include mq-max("xxl") {
      $size-xxl: 6vw;

      width: $size-xxl;
      height: $size-xxl;
    }

    @include mq-max("md") {
      $size-md: 8vw;

      width: $size-md;
      height: $size-md;
    }

    @include mq-max("sm") {
      $size-sm: 10vw;

      width: $size-sm;
      height: $size-sm;
      translate: 0 16%;
    }
  }
}
