.classic-link {
  position: relative;
  color: var(--link-color);

  @include mq-motion-allow {
    transition: 0.32s ease;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: auto;
    width: 100%;
    height: 1px;
    background-color: var(--link-color);

    @include mq-motion-allow {
      transition: 0.32s ease;
    }
  }

  &:hover,
  &:focus-visible {
    color: var(--link-color-hover);

    &::before {
      width: 0;
      left: auto;
      right: 0;
      background-color: var(--link-color-hover);
    }
  }
}

.classic-list {
  list-style: initial;
}

.magnet {
  transition: 0.3s ease, translate 0.8s $cubic-ease-slow-finish;

  // &.cta-1--large {
  //   transition: 0.3s ease, translate 0.8s $cubic-ease-slow-finish;
  // }
}

// CTA and double slanted dash (//)
.hero-color {
  &--primary {
    color: var(--hero-color--primary);
  }

  &--secondary {
    color: var(--hero-color--secondary);
  }
}

// Bluey, Bingo, Pink
.accent-color {
  &--primary {
    color: var(--accent-color--primary);
  }

  &--secondary {
    color: var(--accent-color--secondary);
  }

  &--tertiary {
    color: var(--accent-color--tertiary);
  }
}

//
// Media Query Utility // Be mindful to use aria-hidden to avoid a break in speech.
//

@media all {
  .lg-screen-and-up {
    display: none;

    @include mq-min("lg") {
      display: flex;
    }
  }

  .lg-screen-and-below {
    display: none;

    @include mq-max("lg") {
      display: flex;
    }
  }

  .md-screen-and-up {
    display: none;

    @include mq-min("md") {
      display: flex;
    }
  }

  .md-screen-and-below {
    display: none;

    @include mq-max("md") {
      display: flex;
    }
  }

  .sm-screen-and-up {
    display: none;

    @include mq-min("sm") {
      display: flex;
    }
  }

  .sm-screen-and-below {
    display: none;

    @include mq-max("sm") {
      display: flex;
    }
  }
}

//
// Color swap/inversion, Uses Javascript
//

.invert-colors {
  @include invert-colors;
  position: relative;

  &::before {
    @include invert-colors;
    @include absolute-center;
    content: "";
    width: 100vw;
    height: 100%;
    z-index: -1;
  }

  > {
    color: var(--background-color);
  }
}

.swap-color {
  // Looks for .invert-colors as target
  mix-blend-mode: difference;
}

//
// CMS Tokens
//

.text-stroke {
  -webkit-text-stroke: 1px var(--font-color-primary);
  -webkit-text-fill-color: var(--background-color);
}
