:root {
  --background-color: #1e2932;
  --primary-font-color: #ffffff;
  --primary-accent-color: #7366c1;
  --secondary-accent-color: #5ce15c;
  --link-color: #ffffff;
  --link-color-hover: #ffffff;
}

.h1, h1 {
  font-family: "Safiro", sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 1;
}
@media screen and (max-width: 1512px) {
  .h1, h1 {
    font-size: 5.4vw;
  }
}
@media screen and (max-width: 1024px) {
  .h1, h1 {
    font-size: 5.4vw;
  }
}
@media screen and (max-width: 768px) {
  .h1, h1 {
    font-size: 8vw;
  }
}
@media screen and (max-width: 480px) {
  .h1, h1 {
    font-size: 32px;
  }
}

.h2, h2, nav .nav-links .nav-link {
  font-family: "Safiro", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
@media screen and (max-width: 1512px) {
  .h2, h2, nav .nav-links .nav-link {
    font-size: 4.4vw;
  }
}
@media screen and (max-width: 1024px) {
  .h2, h2, nav .nav-links .nav-link {
    font-size: 4.4vw;
  }
}
@media screen and (max-width: 768px) {
  .h2, h2, nav .nav-links .nav-link {
    font-size: 6.4vw;
  }
}
@media screen and (max-width: 480px) {
  .h2, h2, nav .nav-links .nav-link {
    font-size: 32px;
  }
}

.h3, h3 {
  font-family: "Safiro", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  font-weight: 700;
}
@media screen and (max-width: 1512px) {
  .h3, h3 {
    font-size: 3vw;
  }
}
@media screen and (max-width: 1024px) {
  .h3, h3 {
    font-size: 3vw;
  }
}
@media screen and (max-width: 768px) {
  .h3, h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .h3, h3 {
    font-size: 20px;
  }
}

.h4, h4 {
  font-family: "Safiro", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  font-weight: 400;
}
@media screen and (max-width: 1512px) {
  .h4, h4 {
    font-size: 2vw;
  }
}
@media screen and (max-width: 1024px) {
  .h4, h4 {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 768px) {
  .h4, h4 {
    font-size: 3.8vw;
  }
}
@media screen and (max-width: 480px) {
  .h4, h4 {
    font-size: 12px;
  }
}

.h5, h5 {
  font-family: "Safiro", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
}
@media screen and (max-width: 1512px) {
  .h5, h5 {
    font-size: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .h5, h5 {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  .h5, h5 {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .h5, h5 {
    font-size: 12px;
  }
}

.h6, h6 {
  font-family: "Safiro", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  font-weight: 600;
}
@media screen and (max-width: 1512px) {
  .h6, h6 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .h6, h6 {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .h6, h6 {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .h6, h6 {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Safiro", sans-serif;
}
*:-webkit-autofill, *:-webkit-autofill:hover, *:-webkit-autofill:focus-visible {
  -webkit-text-fill-color: var(--primary-font-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--primary-font-color);
}
body > * {
  max-width: 1920px;
  margin: auto;
}

header > * {
  z-index: 5;
  position: fixed;
}
header .header-logo {
  left: 64px;
  top: 56px;
  display: flex;
  align-items: center;
  gap: 12px;
}
@media screen and (min-width: 1921px) {
  header .header-logo {
    left: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 1512px) {
  header .header-logo {
    left: 40px;
  }
}
@media screen and (max-width: 768px) {
  header .header-logo {
    left: 24px;
  }
}
@media screen and (min-width: 1921px) {
  header .header-logo {
    left: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 768px) {
  header .header-logo {
    top: 38px;
  }
}
header .header-logo__icon {
  width: 32px;
  transition: 0.2s ease;
}
@media screen and (max-width: 1512px) {
  header .header-logo__icon {
    width: 28px;
  }
}
header .header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 60px;
  left: 50%;
  translate: -50% 0;
  gap: 48px;
  transition: 0.3s ease 0.1s;
}
@media screen and (max-width: 1512px) {
  header .header-links {
    gap: 32px;
  }
}
@media screen and (max-width: 1200px) {
  header .header-links {
    display: none;
  }
}
header .header-links__link:hover::after, header .header-links__link:focus-visible::after {
  background: var(--primary-font-color);
}
header .menu-btn-wrapper {
  display: none;
}
@media screen and (max-width: 1200px) {
  header .menu-btn-wrapper {
    right: 64px;
    display: block;
    top: 74px;
    translate: 0 -50%;
    transition: opacity 0.3s ease;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1921px) {
  header .menu-btn-wrapper {
    right: calc(50% - 896px);
  }
}
@media screen and (max-width: 1200px) and (max-width: 1512px) {
  header .menu-btn-wrapper {
    right: 40px;
  }
}
@media screen and (max-width: 1200px) and (max-width: 768px) {
  header .menu-btn-wrapper {
    right: 24px;
  }
}
@media screen and (max-width: 768px) {
  header .menu-btn-wrapper {
    top: 56px;
  }
}
header .menu-btn-wrapper .menu-btn {
  width: 28px;
  height: 28px;
  transition: 0.2s ease 0s;
}
header .menu-btn-wrapper .menu-btn:hover, header .menu-btn-wrapper .menu-btn:focus-visible {
  scale: 1.1;
}
header .menu-btn-wrapper .menu-btn:active {
  scale: 0.9;
}
header .menu-btn-wrapper .menu-btn .menu-btn-line-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  transition: 0.2s ease;
}
header .menu-btn-wrapper .menu-btn-line {
  width: 32px;
  height: 3px;
  background: #ffffff;
  transition: 0.3s ease;
}
header .menu-btn-wrapper .menu-btn.menu-active {
  opacity: 1;
  pointer-events: all;
}
header .menu-btn-wrapper .menu-btn.menu-active .menu-btn-line-wrapper {
  rotate: 45deg;
  gap: 0;
}
header .menu-btn-wrapper .menu-btn.menu-active .menu-btn-line-wrapper .menu-btn-line:first-of-type {
  translate: 0 1.5px;
}
header .menu-btn-wrapper .menu-btn.menu-active .menu-btn-line-wrapper .menu-btn-line:last-of-type {
  translate: 0 -1.5px;
  rotate: 90deg;
}
header .menu-btn-wrapper.menu-wrapper-page-top {
  transition: opacity 0.3s ease 0.3s;
}
header.away-from-top .header-logo .logo-text {
  width: 0px;
}
header.nav-active .menu-btn-wrapper {
  rotate: 12deg;
}
header.nav-active .strap {
  translate: 0 0;
}

nav {
  position: fixed;
  top: 0;
  background: var(--background-color);
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  z-index: 4;
  transition: opacity 0.6s ease;
}
@media screen and (min-width: 1201px) {
  nav {
    display: none;
  }
}
nav .nav-links,
nav .nav-footer-links {
  position: absolute;
}
nav .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 50%;
  translate: 0 -50%;
  gap: 12px;
}
nav .nav-links li {
  display: flex;
  overflow: hidden;
}
nav .nav-links .nav-link {
  line-height: 100%;
  height: 100%;
  translate: 0 100%;
  border-left: 4px solid transparent;
}
nav .nav-links .nav-link:hover, nav .nav-links .nav-link:focus-visible {
  padding-left: 24px;
  border-color: var(--primary-accent-color);
}
@media screen and (max-width: 1512px) {
  nav .nav-links .nav-link:hover, nav .nav-links .nav-link:focus-visible {
    padding-left: 16px;
  }
}
nav .nav-footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 64px;
  gap: 48px;
}
@media screen and (max-width: 1024px) {
  nav .nav-footer-links {
    gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  nav .nav-footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  nav .nav-footer-links {
    gap: 4px;
    bottom: 24px;
  }
}
nav .nav-footer-links li .nav-footer-link {
  padding: 4px;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease;
}
nav .nav-footer-links li .nav-footer-link:hover, nav .nav-footer-links li .nav-footer-link:focus-visible {
  border-color: var(--primary-accent-color);
}
nav[aria-hidden=false] {
  opacity: 1;
  pointer-events: all;
}
nav[aria-hidden=false] .nav-links,
nav[aria-hidden=false] .nav-footer-links {
  opacity: 1;
  pointer-events: all;
}
nav[aria-hidden=false] .nav-links .nav-link,
nav[aria-hidden=false] .nav-footer-links .nav-link {
  translate: 0 0;
}
nav[aria-hidden=false] .strap {
  translate: 0 0;
}

section {
  padding: 196px 128px;
}
@media screen and (max-width: 1512px) {
  section {
    padding: 148px 96px;
  }
}
@media screen and (max-width: 768px) {
  section {
    padding: 96px 48px;
  }
}
@media screen and (max-width: 480px) {
  section {
    padding: 96px 12px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 64px;
}
@media screen and (max-width: 1024px) {
  footer {
    justify-content: flex-start;
    padding: 24px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
@media screen and (max-width: 480px) {
  footer {
    padding-block-end: 48px;
  }
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  translate: calc(-50% - 6px) 50%;
  font-size: 12px;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 1024px) {
  footer .copyright {
    left: auto;
    right: 24px;
    translate: 0 100%;
  }
}
@media screen and (max-width: 480px) {
  footer .copyright {
    position: static;
    order: 1;
    translate: 0 0;
  }
}
footer .return-to-top,
footer .axys-link {
  translate: -8px;
}
@media screen and (max-width: 768px) {
  footer .return-to-top,
  footer .axys-link {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  footer .axys-link {
    margin-block-end: 24px;
  }
}

p,
a,
ul {
  color: var(--primary-font-color);
  font-family: "Safiro", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 1512px) {
  p,
  a,
  ul {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  p,
  a,
  ul {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.social-media-links {
  display: flex;
  gap: 4px;
}
@media screen and (max-width: 768px) {
  .social-media-links {
    gap: 12px;
  }
}
@media screen and (max-width: 480px) {
  .social-media-links {
    gap: 24px;
  }
}
.social-media-links li.magnet {
  transition: 0.4s ease;
}
.social-media-links .social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.25s ease;
}
@media screen and (max-width: 480px) {
  .social-media-links .social-media-link {
    width: 24px;
    height: 24px;
  }
}
.social-media-links .social-media-link:hover .social-media-icon-wrapper, .social-media-links .social-media-link:focus-visible .social-media-icon-wrapper {
  translate: 0 -40%;
}
.social-media-links .social-media-link .social-media-icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  translate: 0 36%;
  transition: 0.25s ease;
}
.social-media-links .social-media-link .social-media-icon-wrapper .social-media-icon path {
  fill: var(--primary-font-color);
}

.magnet {
  transition: translate 0.8s cubic-bezier(0.09, 0.9, 0.5, 1);
}

.portrait-sm {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: inline-block;
  translate: 0 20%;
}
@media screen and (max-width: 1512px) {
  .portrait-sm {
    width: 6vw;
    height: 6vw;
  }
}
@media screen and (max-width: 768px) {
  .portrait-sm {
    width: 8vw;
    height: 8vw;
  }
}

.classic-link {
  position: relative;
}
.classic-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  width: 100%;
  height: 1px;
  background-color: var(--primary-font-color);
}
@media (prefers-reduced-motion: no-preference) {
  .classic-link::before {
    transition: 0.32s ease;
  }
}
.classic-link:hover::before, .classic-link:focus-visible::before {
  width: 0;
  left: auto;
  right: 0;
}

.classic-list {
  list-style: initial;
}

@media all {
  .lg-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .lg-screen-and-up {
    display: flex;
  }
}
@media all {
  .lg-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .lg-screen-and-below {
    display: flex;
  }
}
@media all {
  .md-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .md-screen-and-up {
    display: flex;
  }
}
@media all {
  .md-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .md-screen-and-below {
    display: flex;
  }
}
@media all {
  .sm-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .sm-screen-and-up {
    display: flex;
  }
}
@media all {
  .sm-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .sm-screen-and-below {
    display: flex;
  }
}
@font-face {
  font-family: "Safiro";
  src: url("../fonts/safiro-medium.otf") format("opentype");
}
@font-face {
  font-family: "Atyp Display";
  src: url("../fonts/AtypDisplay-Medium.otf") format("opentype");
  font-weight: 500;
}
@keyframes classic-link-default {
  0% {
    right: auto;
    left: 0;
    width: 100%;
  }
  20% {
    right: 0;
    left: auto;
    width: 100%;
  }
  100% {
    right: 0;
    left: auto;
    width: 0;
  }
}
@keyframes classic-link-hover {
  0% {
    right: auto;
    left: 0;
    width: 0;
  }
  80% {
    right: auto;
    left: 0;
    width: 100%;
  }
  100% {
    right: 0;
    left: auto;
    width: 100%;
  }
}
.cta-1 {
  background: var(--primary-accent-color);
  padding: 12px 28px;
  border-radius: 64px;
}

.cta-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.strap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 32px;
  right: 0;
  margin-inline-end: -40px;
  padding: 12px;
  padding-inline-end: 48px;
  border-radius: 64px;
  overflow: hidden;
}
.strap::before {
  content: "";
  background-image: url(../../static/img/icon-nodes.svg);
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 1/1;
  box-shadow: 0 0 0 180px var(--primary-accent-color);
  padding: 12px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.strap .social-media-links {
  margin-inline: 16px;
}
@media screen and (max-width: 1512px) {
  .strap .social-media-links {
    margin-inline: 12px;
  }
}
@media screen and (min-width: 1921px) {
  .strap--page {
    right: calc(50% - 960px);
  }
}
@media screen and (max-width: 1512px) {
  .strap--page {
    scale: 0.9;
    transform-origin: right;
    margin-right: -36px;
  }
}
@media screen and (max-width: 1200px) {
  .strap--page {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .strap--nav {
    top: auto;
    bottom: 48px;
    scale: 0.8;
    margin-right: -56px;
  }
}
@media screen and (max-width: 1200px) and (prefers-reduced-motion: no-preference) {
  .strap--nav {
    translate: 45% 0;
    transition: translate 0.4s cubic-bezier(0.18, 0.97, 0.47, 1);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-block: 380px;
}
@media screen and (max-width: 1512px) {
  .hero {
    padding-block: 296px;
  }
}
.hero h1 {
  margin-block-end: 48px;
  line-height: 1.2;
}
@media screen and (min-width: 769px) {
  .hero h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .hero h1 {
    display: inline;
    text-align: center;
  }
}
.hero h1 .word {
  display: inline-flex;
}
.hero p {
  opacity: 0.5;
}
.hero .emoji {
  font-size: 0.5em;
  display: inline-block;
  translate: 0 -25%;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 86vh;
  height: 86dvh;
}
@media screen and (max-width: 1512px) {
  .error {
    height: 100vh;
    height: 100dvh;
  }
}
@media screen and (max-width: 768px) {
  .error {
    height: 92vh;
    height: 92dvh;
  }
}
.error h1 {
  margin-block-end: 24px;
}
.error p {
  margin-block-end: 48px;
}/*# sourceMappingURL=styles.css.map */