:root {
  --background-color: #1e2932;
  --font-color--primary: #ffffff;
  --neutral-dark: #271f1f;
  --neutral-light: #ffffff;
  --hero-color--primary: #7366c1;
  --hero-color--secondary: #5ce15c;
  --accent-color--primary: #8bc5eb;
  --accent-color--secondary: #fab071;
  --accent-color--tertiary: #ff94a7;
  --cta-color-bg: var(--hero-color--primary);
  --cta-color-bg--hover: var(--accent-color--tertiary);
  --cta-color-text: var(--font-color--primary);
  --cta-color-text--hover: var(--font-color--primary);
  --link-color: var(--font-color--primary);
  --link-color-hover: var(--accent-color--tertiary);
  --icon-top-distance: 56px;
  --strap-right-offset: -40px;
  --content-spacing: 64px;
  --carousel-gap: 48px;
  --cubic-ease: cubic-bezier(0.18, 0.97, 0.47, 1);
}
@media (max-width: 1512px) {
  :root {
    --carousel-gap: 36px;
  }
}
@media (max-width: 1200px) {
  :root {
    --carousel-gap: 28px;
  }
}
@media (max-width: 1024px) {
  :root {
    --content-spacing: 48px;
  }
}
@media (max-width: 768px) {
  :root {
    --carousel-gap: 16px;
  }
}

.h1, h1, nav .nav-links .nav-link {
  font-family: "Safiro", sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -2px;
  text-transform: initial;
}
@media screen and (max-width: 1512px) {
  .h1, h1, nav .nav-links .nav-link {
    font-size: 5.4vw;
  }
}
@media screen and (max-width: 1024px) {
  .h1, h1, nav .nav-links .nav-link {
    font-size: 6.4vw;
  }
}
@media screen and (max-width: 768px) {
  .h1, h1, nav .nav-links .nav-link {
    font-size: 7vw;
  }
}
@media screen and (max-width: 480px) {
  .h1, h1, nav .nav-links .nav-link {
    font-size: 40px;
  }
}

.h2, .marquee .marquee-text, h2 {
  font-family: "Safiro", sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 1;
  font-family: "Atyp Display", sans-serif;
  text-transform: uppercase;
}
@media screen and (max-width: 1512px) {
  .h2, .marquee .marquee-text, h2 {
    font-size: 4.8vw;
  }
}
@media screen and (max-width: 1024px) {
  .h2, .marquee .marquee-text, h2 {
    font-size: 4.8vw;
  }
}
@media screen and (max-width: 768px) {
  .h2, .marquee .marquee-text, h2 {
    font-size: 6.4vw;
  }
}
@media screen and (max-width: 480px) {
  .h2, .marquee .marquee-text, h2 {
    font-size: 32px;
  }
}

.h3, h3 {
  font-family: "Safiro", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  text-transform: initial;
}
@media screen and (max-width: 1512px) {
  .h3, h3 {
    font-size: 3.4vw;
  }
}
@media screen and (max-width: 1024px) {
  .h3, h3 {
    font-size: 4vw;
  }
}
@media screen and (max-width: 768px) {
  .h3, h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  .h3, h3 {
    font-size: 7.2vw;
  }
}

.h4, .contact-form .label,
.contact-form .input, h4 {
  font-family: "Safiro", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
}
@media screen and (max-width: 1512px) {
  .h4, .contact-form .label,
  .contact-form .input, h4 {
    font-size: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .h4, .contact-form .label,
  .contact-form .input, h4 {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  .h4, .contact-form .label,
  .contact-form .input, h4 {
    font-size: 32px;
  }
}
@media screen and (max-width: 480px) {
  .h4, .contact-form .label,
  .contact-form .input, h4 {
    font-size: 6.8vw;
  }
}

.h5, .contact-form .input:focus ~ .label,
.contact-form .input:not(:placeholder-shown).input:not(focus) ~ .label, .contact-form:-webkit-autofill, .contact-form:-webkit-autofill:hover, .contact-form:-webkit-autofill:focus, h5 {
  font-family: "Safiro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}
@media screen and (max-width: 1512px) {
  .h5, .contact-form .input:focus ~ .label,
  .contact-form .input:not(:placeholder-shown).input:not(focus) ~ .label, .contact-form:-webkit-autofill, .contact-form:-webkit-autofill:hover, .contact-form:-webkit-autofill:focus, h5 {
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .h5, .contact-form .input:focus ~ .label,
  .contact-form .input:not(:placeholder-shown).input:not(focus) ~ .label, .contact-form:-webkit-autofill, .contact-form:-webkit-autofill:hover, .contact-form:-webkit-autofill:focus, h5 {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .h5, .contact-form .input:focus ~ .label,
  .contact-form .input:not(:placeholder-shown).input:not(focus) ~ .label, .contact-form:-webkit-autofill, .contact-form:-webkit-autofill:hover, .contact-form:-webkit-autofill:focus, h5 {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .h5, .contact-form .input:focus ~ .label,
  .contact-form .input:not(:placeholder-shown).input:not(focus) ~ .label, .contact-form:-webkit-autofill, .contact-form:-webkit-autofill:hover, .contact-form:-webkit-autofill:focus, h5 {
    font-size: 16px;
  }
}

.h6, h6, .cta-1--large {
  font-family: "Safiro", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
}
@media screen and (max-width: 1512px) {
  .h6, h6, .cta-1--large {
    font-size: 28px;
  }
}
@media screen and (max-width: 1024px) {
  .h6, h6, .cta-1--large {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .h6, h6, .cta-1--large {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .h6, h6, .cta-1--large {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .h6, h6, .cta-1--large {
    font-weight: 900;
    letter-spacing: -0.5px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:-webkit-autofill, *:-webkit-autofill:hover, *:-webkit-autofill:focus-visible {
  -webkit-text-fill-color: var(--font-color--primary);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--font-color--primary);
}
body > * {
  max-width: 1920px;
  margin: auto;
}

.site-header > * {
  z-index: 5;
  position: fixed;
}
.site-header .header-logo {
  left: 64px;
  top: var(--icon-top-distance);
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px;
}
@media screen and (min-width: 1921px) {
  .site-header .header-logo {
    left: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 1512px) {
  .site-header .header-logo {
    left: 40px;
  }
}
@media screen and (max-width: 768px) {
  .site-header .header-logo {
    left: 24px;
  }
}
@media screen and (min-width: 1921px) {
  .site-header .header-logo {
    left: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 768px) {
  .site-header .header-logo {
    top: 38px;
  }
}
.site-header .header-logo__icon {
  width: 32px;
  transition: 0.2s ease;
}
@media screen and (max-width: 1512px) {
  .site-header .header-logo__icon {
    width: 28px;
  }
}
.site-header .header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 60px;
  left: 50%;
  translate: -50% 0;
  gap: 48px;
  transition: 0.3s ease 0.1s;
}
@media screen and (max-width: 1512px) {
  .site-header .header-links {
    gap: 32px;
  }
}
@media screen and (max-width: 1200px) {
  .site-header .header-links {
    display: none;
  }
}
.site-header .menu-btn-wrapper {
  right: 64px;
  top: 72px;
  translate: 0 -50%;
}
@media screen and (min-width: 1921px) {
  .site-header .menu-btn-wrapper {
    right: calc(50% - 896px);
  }
}
@media screen and (max-width: 1512px) {
  .site-header .menu-btn-wrapper {
    right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .site-header .menu-btn-wrapper {
    right: 24px;
  }
}
@media screen and (min-width: 1201px) {
  .site-header .menu-btn-wrapper {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .site-header .menu-btn-wrapper {
    top: 48px;
  }
}
.site-header .menu-btn-wrapper .menu-btn {
  width: 36px;
  height: 36px;
  padding: 4px;
  transition: 0.2s ease 0s;
}
.site-header .menu-btn-wrapper .menu-btn:hover, .site-header .menu-btn-wrapper .menu-btn:focus-visible {
  scale: 1.1;
}
.site-header .menu-btn-wrapper .menu-btn:active {
  scale: 0.9;
}
.site-header .menu-btn-wrapper .menu-btn .menu-btn-line-wrapper {
  position: relative;
  transition: 0.5s cubic-bezier(0.18, 0.97, 0.47, 1);
}
@media screen and (max-width: 480px) {
  .site-header .menu-btn-wrapper .menu-btn .menu-btn-line-wrapper {
    transition: 0.7s cubic-bezier(0.18, 0.97, 0.47, 1);
  }
}
.site-header .menu-btn-wrapper .menu-btn-line {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 28px;
  height: 3px;
  background: var(--neutral-light);
  transition: 0.5s cubic-bezier(0.18, 0.97, 0.47, 1), translate 0.3s ease;
}
@media screen and (max-width: 480px) {
  .site-header .menu-btn-wrapper .menu-btn-line {
    transition: 0.7s cubic-bezier(0.18, 0.97, 0.47, 1), translate 0.3s ease;
  }
}
.site-header .menu-btn-wrapper .menu-btn-line:first-of-type {
  translate: calc(-50% + 0px) calc(-50% - 4px);
  border-radius: 64px 64px 0 0;
}
.site-header .menu-btn-wrapper .menu-btn-line:last-of-type {
  translate: calc(-50% - 0px) calc(-50% + 4px);
  border-radius: 0 0 64px 64px;
}
.site-header .menu-btn-wrapper.menu-wrapper-page-top {
  transition: opacity 0.3s ease 0.3s;
}
.site-header.scrolling-down .header-links {
  translate: -50% -128px;
}
.site-header.scrolling-down .header-links:focus-within {
  translate: -50% 0;
}
@media screen and (max-width: 1920px) {
  .site-header.scrolling-down .strap,
  .site-header.scrolling-down .strap-icon {
    translate: 58% 0;
  }
  .site-header.scrolling-down .strap:hover, .site-header.scrolling-down .strap:focus-within, .site-header.scrolling-down .strap.strap-hover,
  .site-header.scrolling-down .strap-icon:hover,
  .site-header.scrolling-down .strap-icon:focus-within,
  .site-header.scrolling-down .strap-icon.strap-hover {
    translate: 0 0;
  }
}
.site-header.nav-active .menu-btn-line-wrapper {
  rotate: 90deg;
}
.site-header.nav-active .menu-btn-line-wrapper .menu-btn-line {
  border-radius: 64px;
}
.site-header.nav-active .menu-btn-line-wrapper .menu-btn-line:first-of-type, .site-header.nav-active .menu-btn-line-wrapper .menu-btn-line:last-of-type {
  translate: -50% -50%;
  rotate: 45deg;
}
.site-header.nav-active .menu-btn-line-wrapper .menu-btn-line:last-of-type {
  rotate: -225deg;
}
.site-header.nav-active .strap {
  translate: 0 0;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background: #271f1f;
  width: 620px;
  height: 100vh;
  height: 100dvh;
  min-height: 420px;
  overflow: auto;
  z-index: 4;
  translate: 100% 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  transition: translate 0.9s cubic-bezier(0.18, 0.97, 0.47, 1) 0s;
}
@media screen and (min-width: 1201px) {
  nav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  nav {
    width: 100vw;
    border-radius: 0;
  }
}
nav .nav-links,
nav .nav-footer-links {
  left: 64px;
  position: absolute;
}
@media screen and (min-width: 1921px) {
  nav .nav-links,
  nav .nav-footer-links {
    left: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 1512px) {
  nav .nav-links,
  nav .nav-footer-links {
    left: 40px;
  }
}
@media screen and (max-width: 768px) {
  nav .nav-links,
  nav .nav-footer-links {
    left: 24px;
  }
}
nav .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 50%;
  translate: 0 -50%;
  gap: 12px;
}
nav .nav-links li {
  translate: 64px 0;
  opacity: 0;
}
nav .nav-links li:nth-of-type(1) {
  transition: 0s ease 1s;
}
nav .nav-links li:nth-of-type(2) {
  transition: 0s ease 1s;
}
nav .nav-links li:nth-of-type(3) {
  transition: 0s ease 1s;
}
nav .nav-links li:nth-of-type(4) {
  transition: 0s ease 1s;
}
nav .nav-links .nav-link {
  position: relative;
  display: inline-block;
}
@media (prefers-reduced-motion: no-preference) {
  nav .nav-links .nav-link {
    transition: 0.5s cubic-bezier(0.18, 0.97, 0.47, 1);
  }
}
nav .nav-links .nav-link:hover, nav .nav-links .nav-link:focus-visible {
  translate: 20px 0;
}
@media screen and (max-width: 768px) {
  nav .nav-links .nav-link:hover, nav .nav-links .nav-link:focus-visible {
    translate: 16px 0;
  }
}
nav .nav-links .nav-link:hover::before, nav .nav-links .nav-link:focus-visible::before {
  opacity: 1;
  translate: -32px -50%;
}
@media screen and (max-width: 768px) {
  nav .nav-links .nav-link:hover::before, nav .nav-links .nav-link:focus-visible::before {
    translate: -24px -50%;
  }
}
nav .nav-links .nav-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--hero-color--secondary);
  z-index: -1;
  opacity: 0;
}
@media (prefers-reduced-motion: no-preference) {
  nav .nav-links .nav-link::before {
    transition: 0.5s cubic-bezier(0.18, 0.97, 0.47, 1);
  }
}
@media screen and (max-width: 768px) {
  nav .nav-links .nav-link::before {
    width: 14px;
    height: 14px;
  }
}
@media screen and (max-width: 480px) {
  nav .nav-links .nav-link::before {
    width: 12px;
    height: 12px;
  }
}
nav .nav-footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 64px;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  nav .nav-footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  nav .nav-footer-links {
    bottom: 36px;
  }
}
nav .nav-footer-links li {
  translate: 0 24px;
  opacity: 0;
}
nav .nav-footer-links li:nth-of-type(1) {
  transition: 0s ease 1s;
}
nav .nav-footer-links li:nth-of-type(2) {
  transition: 0s ease 1s;
}
nav .nav-footer-links li:nth-of-type(3) {
  transition: 0s ease 1s;
}
nav .nav-footer-links li:nth-of-type(4) {
  transition: 0s ease 1s;
}
nav .nav-footer-links li .nav-footer-link {
  padding: 3px 0;
}
nav[aria-hidden=false] {
  translate: 0 0;
  transition: translate 0.9s cubic-bezier(0.18, 0.97, 0.47, 1);
}
nav[aria-hidden=false] .nav-links li {
  opacity: 1;
  translate: 0 0;
}
nav[aria-hidden=false] .nav-links li:nth-of-type(1) {
  transition: 1.2s cubic-bezier(0.18, 0.97, 0.47, 1) 0.2s;
}
nav[aria-hidden=false] .nav-links li:nth-of-type(2) {
  transition: 1.2s cubic-bezier(0.18, 0.97, 0.47, 1) 0.32s;
}
nav[aria-hidden=false] .nav-links li:nth-of-type(3) {
  transition: 1.2s cubic-bezier(0.18, 0.97, 0.47, 1) 0.44s;
}
nav[aria-hidden=false] .nav-links li:nth-of-type(4) {
  transition: 1.2s cubic-bezier(0.18, 0.97, 0.47, 1) 0.56s;
}
nav[aria-hidden=false] .nav-footer-links li {
  opacity: 1;
  translate: 0 0;
}
nav[aria-hidden=false] .nav-footer-links li:nth-of-type(1) {
  transition: 1.2s cubic-bezier(0.18, 0.97, 0.47, 1) 0.42s;
}
nav[aria-hidden=false] .nav-footer-links li:nth-of-type(2) {
  transition: 1.2s cubic-bezier(0.18, 0.97, 0.47, 1) 0.54s;
}
nav[aria-hidden=false] .nav-footer-links li:nth-of-type(3) {
  transition: 1.2s cubic-bezier(0.18, 0.97, 0.47, 1) 0.66s;
}
nav[aria-hidden=false] .nav-footer-links li:nth-of-type(4) {
  transition: 1.2s cubic-bezier(0.18, 0.97, 0.47, 1) 0.78s;
}
@media (prefers-reduced-motion: no-preference) {
  nav[aria-hidden=false] .strap {
    translate: 0 0;
    transition: translate 0.8s cubic-bezier(0.18, 0.97, 0.47, 1) 0.24s;
  }
}

section {
  padding-inline: 160px;
  padding-block: 128px;
}
@media screen and (max-width: 1512px) {
  section {
    padding-inline: 120px;
  }
}
@media screen and (max-width: 1200px) {
  section {
    padding-inline: 96px;
  }
}
@media screen and (max-width: 768px) {
  section {
    padding-inline: 24px;
  }
}
@media screen and (max-width: 1512px) {
  section {
    padding-block: 96px;
  }
}
section:has(.escape-padding) {
  padding-inline: 0;
}
section:has(.escape-padding) > *:not(.escape-padding) {
  padding-inline: 160px;
}
@media screen and (max-width: 1512px) {
  section:has(.escape-padding) > *:not(.escape-padding) {
    padding-inline: 120px;
  }
}
@media screen and (max-width: 1200px) {
  section:has(.escape-padding) > *:not(.escape-padding) {
    padding-inline: 96px;
  }
}
@media screen and (max-width: 768px) {
  section:has(.escape-padding) > *:not(.escape-padding) {
    padding-inline: 24px;
  }
}
section:has(.escape-padding) .noise-bg {
  opacity: 0.3;
}
@media screen and (max-width: 480px) {
  section:has(.escape-padding) .noise-bg {
    opacity: 0.1;
  }
}
section:has(.noise-bg) {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
section:has(.noise-bg) .noise-bg {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 100vw;
  height: 100%;
  padding-inline: 0;
  z-index: -1;
  scale: 1.6;
}
section:has(.noise-bg) .noise-bg rect {
  width: 100%;
  height: 100%;
}
section:has(+ .invert-colors) {
  padding-block-end: 192px;
}
@media screen and (max-width: 1512px) {
  section:has(+ .invert-colors) {
    padding-block-end: 128px;
  }
}

.site-footer {
  --side-group-gap-y: 24px;
  --side-group-gap-x: 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding: 64px;
}
@media screen and (max-width: 1512px) {
  .site-footer {
    --side-group-gap-y: 20px;
    --side-group-gap-x: 36px;
  }
}
@media screen and (max-width: 1024px) {
  .site-footer {
    --side-group-gap-x: 24px;
    padding-block: 96px;
  }
}
@media screen and (max-width: 768px) {
  .site-footer {
    --side-group-gap-y: 8px;
    padding-inline: 24px;
  }
}
@media screen and (max-width: 480px) {
  .site-footer {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 56px;
    padding-inline: 24px;
    padding-block: 24px 128px;
  }
}
.site-footer__links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--side-group-gap-y) var(--side-group-gap-x);
  width: 240px;
}
@media screen and (max-width: 1512px) {
  .site-footer__links {
    width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .site-footer__links {
    width: 180px;
  }
}
@media screen and (max-width: 480px) {
  .site-footer__links {
    width: 100%;
  }
}
.site-footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  translate: -50% 0;
}
@media screen and (max-width: 1200px) {
  .site-footer .copyright {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .site-footer .copyright {
    bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  .site-footer .copyright {
    bottom: 64px;
    left: 24px;
    translate: 0 12px;
  }
}
.site-footer__details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--side-group-gap-x);
}
@media screen and (max-width: 768px) {
  .site-footer__details {
    scale: 0.9;
    transform-origin: bottom right;
  }
}
@media screen and (max-width: 480px) {
  .site-footer__details {
    transform-origin: bottom left;
  }
}
.site-footer__details .details-block h3 {
  padding-block-end: var(--side-group-gap-y);
}

p,
a,
button,
ul,
time {
  color: var(--font-color--primary);
  font-family: "Safiro", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 1512px) {
  p,
  a,
  button,
  ul,
  time {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  p,
  a,
  button,
  ul,
  time {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

small {
  font-family: "Safiro", sans-serif;
}

figure {
  font-size: 0;
  overflow: hidden;
}

img,
video {
  width: 100%;
}

hr {
  border: none;
  height: 2px;
  background: var(--accent-color--primary);
}

abbr[aria-label] {
  -webkit-text-decoration: underline solid;
          text-decoration: underline solid;
  cursor: help;
}

input,
textarea {
  border: none;
  border-radius: 0;
}

.availability {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}
.availability__text {
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (max-width: 1512px) {
  .availability__text {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .availability__text {
    font-size: 12px;
  }
}
.availability__dot {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--hero-color--secondary);
  filter: brightness(1.1);
  animation: glow-dot 2s linear infinite alternate;
}
.availability__dot::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 12px;
  height: 12px;
  background-color: var(--hero-color--secondary);
  z-index: -1;
  filter: blur(6px);
  animation: glow-dot-blur 2s linear infinite alternate;
}

.badge-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
@media screen and (max-width: 768px) {
  .badge-list {
    gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .badge-list {
    gap: 8px;
  }
}
.badge-list .badge {
  border: 1px solid var(--accent-color--primary);
  border-radius: 24px;
  padding: 8px 24px;
  font-size: 14px;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .badge-list .badge {
    font-size: 13px;
    padding: 6px 18px;
  }
}
@media screen and (max-width: 480px) {
  .badge-list .badge {
    font-size: 12px;
    padding: 4px 12px;
  }
}

.cta-1 {
  position: relative;
  background: var(--cta-color-bg);
  padding: 12px 28px;
  border-radius: 64px;
}
.cta-1:hover, .cta-1:focus-visible {
  background-color: var(--cta-color-bg--hover);
}
@media (prefers-reduced-motion: no-preference) {
  .cta-1:hover, .cta-1:focus-visible {
    animation: cta-pop 0.24s linear forwards;
  }
}
.cta-1--large {
  background-color: var(--neutral-light);
  padding: 24px 40px;
  color: var(--background-color);
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  gap: 12px;
}
.cta-1--large-emoji {
  display: inline-flex;
}
.cta-1--large-arrow-group {
  display: grid;
  padding: 0 2px;
  border-radius: 50%;
  overflow: hidden;
}
.cta-1--large-arrow-group span {
  grid-area: 1/1;
}
.cta-1--large-arrow-group span:first-of-type {
  translate: -140% 0;
}
.cta-1--large:hover .cta-1--large-emoji, .cta-1--large:focus-visible .cta-1--large-emoji {
  animation: cta-emoji-jump 2s ease infinite;
}
.cta-1--large:hover .cta-1--large-arrow-group span, .cta-1--large:focus-visible .cta-1--large-arrow-group span {
  animation: cta-arrow-1 2s cubic-bezier(0.18, 0.97, 0.47, 1) infinite;
}
.cta-1--large:hover .cta-1--large-arrow-group span:first-of-type, .cta-1--large:focus-visible .cta-1--large-arrow-group span:first-of-type {
  animation: cta-arrow-2 2s cubic-bezier(0.18, 0.97, 0.47, 1) infinite;
}
.cta-1--large.no-interaction {
  pointer-events: none;
}

.cta-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.hero,
.pre-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-block: 380px;
}
@media screen and (max-width: 1512px) {
  .hero,
  .pre-footer {
    padding-block: 264px;
  }
}
@media screen and (max-width: 1200px) {
  .hero,
  .pre-footer {
    padding-block: 236px;
  }
}
@media screen and (max-width: 1024px) {
  .hero,
  .pre-footer {
    padding-block-end: 128px;
  }
}
@media screen and (max-width: 480px) {
  .hero,
  .pre-footer {
    padding-block: 212px;
  }
}
.hero .heading-wrapper,
.pre-footer .heading-wrapper {
  position: relative;
  text-align: center;
}
.hero .heading-wrapper h1,
.hero .heading-wrapper h2,
.pre-footer .heading-wrapper h1,
.pre-footer .heading-wrapper h2 {
  margin-block-end: 48px;
  line-height: 1.2;
}
@media screen and (min-width: 769px) {
  .hero .heading-wrapper h1,
  .hero .heading-wrapper h2,
  .pre-footer .heading-wrapper h1,
  .pre-footer .heading-wrapper h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .hero .heading-wrapper h1,
  .hero .heading-wrapper h2,
  .pre-footer .heading-wrapper h1,
  .pre-footer .heading-wrapper h2 {
    display: inline;
    text-align: center;
  }
}
.hero .heading-wrapper .word,
.pre-footer .heading-wrapper .word {
  display: inline-flex;
}
.hero .heading-wrapper .emoji,
.pre-footer .heading-wrapper .emoji {
  font-size: 0.5em;
  display: inline-block;
  translate: 0 -25%;
}
.hero .heading-wrapper .background-ball,
.pre-footer .heading-wrapper .background-ball {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 12px;
  height: 12px;
  z-index: -1;
}
.hero .heading-wrapper .background-ball__glow,
.pre-footer .heading-wrapper .background-ball__glow {
  padding: 8vw;
  border-radius: 50%;
  filter: blur(64px);
  opacity: 0.25;
}
@media screen and (max-width: 1512px) {
  .hero .heading-wrapper .background-ball__glow,
  .pre-footer .heading-wrapper .background-ball__glow {
    filter: blur(48px);
  }
}
@media screen and (max-width: 480px) {
  .hero .heading-wrapper .background-ball__glow,
  .pre-footer .heading-wrapper .background-ball__glow {
    filter: blur(24px);
  }
}
.hero.left-align,
.pre-footer.left-align {
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .hero.left-align,
  .pre-footer.left-align {
    align-items: center;
    text-wrap: balance;
  }
}
.hero.left-align h1,
.hero.left-align h2,
.pre-footer.left-align h1,
.pre-footer.left-align h2 {
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .hero.left-align h1,
  .hero.left-align h2,
  .pre-footer.left-align h1,
  .pre-footer.left-align h2 {
    align-items: center;
    text-wrap: balance;
  }
}

@media screen and (max-width: 768px) {
  .pre-footer {
    padding-block-start: 96px;
  }
}
@media screen and (max-width: 480px) {
  .pre-footer {
    padding-block-start: 148px;
  }
}
.pre-footer h2 .color-text .word:first-of-type {
  color: var(--accent-color--primary);
}
.pre-footer h2 .color-text .word:last-of-type {
  color: var(--accent-color--secondary);
}

.mouse-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1), opacity 0.3s ease;
  z-index: 1;
}
@media (hover: none) and (pointer: coarse) {
  .mouse-cursor {
    display: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  .mouse-cursor {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .mouse-cursor {
    display: none;
  }
}
.mouse-cursor__image {
  position: absolute;
  width: min(20vw, 420px);
  aspect-ratio: 1.6/1;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  translate: -50% -50%;
  opacity: 0;
  transform-origin: center;
}
@media (prefers-reduced-motion: no-preference) {
  .mouse-cursor__image {
    transition: 0.8s cubic-bezier(0.18, 0.97, 0.47, 1), opacity 0.3s ease;
  }
}
.mouse-cursor__image.show-img {
  opacity: 1;
}
.mouse-cursor__tooltip {
  color: var(--font-color--primary);
  font-family: "Safiro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent-color--primary);
  color: var(--background-color);
  translate: 36px 28px;
  border-radius: 0 64px 64px 64px;
  padding: 4px;
  white-space: nowrap;
  padding: 8px 24px 8px 16px;
  opacity: 0;
  visibility: hidden;
  scale: 0.6;
  rotate: 12deg;
  transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1), rotate 0.6s cubic-bezier(0.18, 0.97, 0.47, 1) 0.4s;
}
@media screen and (max-width: 1512px) {
  .mouse-cursor__tooltip {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .mouse-cursor__tooltip {
    font-size: 14px;
  }
}
.mouse-cursor__tooltip.show-tooltip {
  opacity: 1;
  visibility: visible;
  scale: 1;
  rotate: 0deg;
  transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1), rotate 0.6s cubic-bezier(0.18, 0.97, 0.47, 1) 0s;
}
.mouse-cursor.show-cursor {
  opacity: 1;
}
.mouse-cursor.cursor-contrast {
  opacity: 0;
  scale: 0.7;
}

.portrait-sm {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: inline-block;
  translate: 0 20%;
}
@media screen and (max-width: 1512px) {
  .portrait-sm {
    width: 6vw;
    height: 6vw;
  }
}
@media screen and (max-width: 768px) {
  .portrait-sm {
    width: 8vw;
    height: 8vw;
  }
}
@media screen and (max-width: 480px) {
  .portrait-sm {
    width: 10vw;
    height: 10vw;
    translate: 0 16%;
  }
}

.section-title__abstract {
  color: var(--hero-color--secondary);
}

.skip-to-content {
  position: fixed;
  top: -40px;
  left: 0;
  color: #fff;
  padding: 8px;
  z-index: 100;
  transition: top 0.3s ease;
}
.skip-to-content:focus {
  top: 0;
}
@media screen and (max-width: 1200px) {
  .skip-to-content {
    display: none;
  }
}

.classic-link {
  position: relative;
  color: var(--link-color);
}
@media (prefers-reduced-motion: no-preference) {
  .classic-link {
    transition: 0.32s ease;
  }
}
.classic-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  width: 100%;
  height: 1px;
  background-color: var(--link-color);
}
@media (prefers-reduced-motion: no-preference) {
  .classic-link::before {
    transition: 0.32s ease;
  }
}
.classic-link:hover, .classic-link:focus-visible {
  color: var(--link-color-hover);
}
.classic-link:hover::before, .classic-link:focus-visible::before {
  width: 0;
  left: auto;
  right: 0;
  background-color: var(--link-color-hover);
}

.classic-list {
  list-style: initial;
}

.magnet {
  transition: 0.3s ease, translate 0.8s cubic-bezier(0.09, 0.9, 0.5, 1);
}
.magnet:is(span) {
  transition: translate 0.8s cubic-bezier(0.09, 0.9, 0.5, 1);
}

.hero-color--primary {
  color: var(--hero-color--primary);
}
.hero-color--secondary {
  color: var(--hero-color--secondary);
}

.accent-color--primary {
  color: var(--accent-color--primary);
}
.accent-color--secondary {
  color: var(--accent-color--secondary);
}
.accent-color--tertiary {
  color: var(--accent-color--tertiary);
}

@media all {
  .lg-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .lg-screen-and-up {
    display: flex;
  }
}
@media all {
  .lg-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .lg-screen-and-below {
    display: flex;
  }
}
@media all {
  .md-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .md-screen-and-up {
    display: flex;
  }
}
@media all {
  .md-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .md-screen-and-below {
    display: flex;
  }
}
@media all {
  .sm-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .sm-screen-and-up {
    display: flex;
  }
}
@media all {
  .sm-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .sm-screen-and-below {
    display: flex;
  }
}
.invert-colors {
  background: var(--font-color--primary);
  color: var(--background-color);
  position: relative;
}
.invert-colors * {
  color: currentColor;
}
.invert-colors *::before {
  background-color: currentColor;
}
.invert-colors::before {
  background: var(--font-color--primary);
  color: var(--background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 100vw;
  height: 100%;
  z-index: -1;
}
.invert-colors::before * {
  color: currentColor;
}
.invert-colors::before *::before {
  background-color: currentColor;
}
.swap-color {
  mix-blend-mode: difference;
}

.text-stroke {
  -webkit-text-stroke: 1px var(--font-color--primary);
  -webkit-text-fill-color: var(--background-color);
}

@font-face {
  font-family: "Safiro";
  src: url("../fonts/safiro-medium.otf") format("opentype");
}
@font-face {
  font-family: "Atyp Display";
  src: url("../fonts/AtypDisplay-Medium.otf") format("opentype");
  font-weight: 500;
}
@keyframes glow-dot {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes glow-dot-blur {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}
@keyframes cta-pop {
  0%, 100% {
    scale: 1;
  }
  50% {
    scale: 1.075;
  }
}
@keyframes cta-emoji-jump {
  0%, 20%, 100% {
    translate: 0 0;
    rotate: 0deg;
  }
  10% {
    translate: 0 -25%;
    rotate: 12deg;
  }
}
@keyframes cta-arrow-1 {
  0% {
    translate: -140% 0;
  }
  50%, 100% {
    translate: 0 0;
  }
}
@keyframes cta-arrow-2 {
  0% {
    translate: 0 0;
  }
  50%, 100% {
    translate: 140% 0;
  }
}
@keyframes carousel-1 {
  from {
    translate: 0 0;
  }
  to {
    translate: -50% 0;
  }
}
.focus-cards__title {
  margin-block-end: var(--content-spacing);
}
@media screen and (min-width: 1025px) {
  .focus-cards__title {
    text-align: center;
  }
}
.focus-cards__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: var(--content-spacing);
}
@media screen and (max-width: 1512px) {
  .focus-cards__group {
    gap: 24px;
  }
}
.focus-cards .focus-card {
  background-color: var(--neutral-dark);
  padding: 48px;
}
@media screen and (max-width: 1512px) {
  .focus-cards .focus-card {
    padding: 36px;
  }
}
@media screen and (max-width: 768px) {
  .focus-cards .focus-card {
    padding: 20px;
  }
}
@media screen and (min-width: 769px) {
  .focus-cards .focus-card {
    flex: 1 0 400px;
  }
}
.focus-cards .focus-card__title {
  margin-block-end: 24px;
}
.focus-cards .focus-card__subtitle {
  color: var(--font-color--primary);
  font-family: "Safiro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-block-end: 40px;
}
@media screen and (max-width: 1512px) {
  .focus-cards .focus-card__subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .focus-cards .focus-card__subtitle {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .focus-cards .focus-card__subtitle {
    margin-block-end: 32px;
  }
}

.get-in-touch {
  padding: 0;
  overflow: hidden;
}
.get-in-touch .gsap-scale {
  position: relative;
  height: 100vh;
  min-height: 480px;
  scale: 1.2;
}
.get-in-touch .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.get-in-touch .bg-text__text {
  font-family: "Safiro", sans-serif;
  font-size: min(12vw, 256px);
  display: inline-flex;
  text-wrap: nowrap;
  opacity: 0.025;
  line-height: 1;
}
@media screen and (min-width: 1921px) {
  .get-in-touch .bg-text__text {
    line-height: 1.25;
  }
}
@media screen and (max-width: 1200px) {
  .get-in-touch .bg-text__text {
    line-height: 1.25;
  }
}
@media screen and (max-width: 768px) {
  .get-in-touch .bg-text__text {
    font-size: 20vw;
  }
}
@media screen and (min-width: 481px) {
  .get-in-touch .bg-text__text:nth-last-of-type(1), .get-in-touch .bg-text__text:nth-last-of-type(2) {
    display: none;
  }
}
.get-in-touch .availability-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  translate: -50% -102px;
}
@media screen and (max-width: 1512px) {
  .get-in-touch .availability-wrapper {
    translate: -50% -96px;
  }
}
.get-in-touch .large-cta-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 120vw;
  height: 100vh;
  transform-origin: left top;
}
@media screen and (max-width: 1512px) {
  .get-in-touch .large-cta-wrapper {
    gap: 36px;
  }
}
@media screen and (max-width: 768px) {
  .get-in-touch .large-cta-wrapper {
    gap: 24px;
  }
}

.marquee {
  padding-block: 128px;
  width: 100vw;
  max-width: 1920px;
  overflow: hidden;
}
@media screen and (max-width: 1512px) {
  .marquee {
    padding-block: 96px;
  }
}
.marquee-inner {
  padding-inline-end: 24px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 480px) {
  .marquee-inner {
    padding-inline-end: 12px;
  }
}
.marquee .marquee-text {
  line-height: 100%;
  display: inline-flex;
  text-wrap: nowrap;
  gap: 24px;
}
@media screen and (max-width: 1512px) {
  .marquee .marquee-text {
    gap: 18px;
  }
}
@media screen and (max-width: 768px) {
  .marquee .marquee-text {
    gap: 12px;
  }
}
@media screen and (max-width: 480px) {
  .marquee .marquee-text {
    gap: 6px;
  }
}
.marquee .marquee-dot {
  font-size: 36px;
  margin: 0 56px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (max-width: 768px) {
  .marquee .marquee-dot {
    font-size: 24px;
    margin: 0 24px;
  }
}

.goal-oriented .section-title {
  margin-block-end: var(--content-spacing);
}
.goal-oriented__paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--content-spacing);
  text-wrap: balance;
}
@media screen and (max-width: 1200px) {
  .goal-oriented__paragraph {
    gap: 48px;
  }
}
.goal-oriented .cta-group {
  justify-content: flex-start;
  margin-block-start: var(--content-spacing);
}

.strap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 32px;
  right: 0;
  margin-inline-end: var(--strap-right-offset);
  padding: 12px;
  padding-inline-end: 48px;
  border-radius: 64px;
  overflow: hidden;
  background-color: transparent;
}
@media (prefers-reduced-motion: no-preference) {
  .strap {
    transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1);
  }
}
.strap::before {
  content: "";
  box-shadow: 0 0 0 250px var(--hero-color--primary);
  padding: 12px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 1200px) {
  .strap::before {
    background-image: url(../../static/img/icon-nodes.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
.strap .social-media-links {
  display: flex;
  gap: 4px;
  margin-inline: 16px;
}
@media screen and (max-width: 1512px) {
  .strap .social-media-links {
    margin-inline: 12px;
  }
}
@media screen and (max-width: 768px) {
  .strap .social-media-links {
    gap: 12px;
  }
}
.strap .social-media-links .social-media-link {
  display: grid;
  border-radius: 50%;
  transition: 0.25s ease;
}
@media screen and (min-width: 481px) {
  .strap .social-media-links .social-media-link {
    overflow: hidden;
  }
}
.strap .social-media-links .social-media-link .social-media-icon {
  grid-area: 1/1;
  width: 32px;
  height: 32px;
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: var(--font-color--primary);
}
@media (prefers-reduced-motion: no-preference) {
  .strap .social-media-links .social-media-link .social-media-icon {
    transition: all 0.48s cubic-bezier(0.18, 0.97, 0.47, 1), background 0.48s cubic-bezier(0.18, 0.97, 0.47, 1) 0.2s;
  }
}
.strap .social-media-links .social-media-link .social-media-icon:last-of-type {
  translate: 0 100%;
}
@media screen and (max-width: 480px) {
  .strap .social-media-links .social-media-link .social-media-icon:last-of-type {
    display: none;
  }
}
.strap .social-media-links .social-media-link:hover .social-media-icon, .strap .social-media-links .social-media-link:focus-visible .social-media-icon {
  translate: 0 -100%;
  background-color: var(--hero-color--secondary);
}
.strap .social-media-links .social-media-link:hover .social-media-icon:last-of-type, .strap .social-media-links .social-media-link:focus-visible .social-media-icon:last-of-type {
  translate: 0 0;
}
@media screen and (min-width: 1921px) {
  .strap--page {
    right: calc(50% - 960px);
  }
}
@media screen and (max-width: 1200px) {
  .strap--page {
    display: none;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .strap--nav {
    translate: 45% 0;
    transition: translate 2s cubic-bezier(0.18, 0.97, 0.47, 1) 0s;
  }
}
@media screen and (max-width: 1200px) {
  .strap--nav {
    top: auto;
    bottom: 40px;
    scale: 0.8;
    margin-inline-end: -64px;
  }
}
@media screen and (max-width: 768px) {
  .strap--nav {
    bottom: 24px;
  }
}
@media screen and (max-width: 480px) {
  .strap--nav {
    margin-inline-end: -72px;
  }
}

.strap-icon {
  position: fixed;
  top: var(--icon-top-distance);
  right: 0;
  margin-inline-end: var(--strap-right-offset);
  width: var(--strap-width);
  height: 32px;
  padding-inline-start: 24px;
}
@media (prefers-reduced-motion: no-preference) {
  .strap-icon {
    transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1);
  }
}
@media screen and (min-width: 1921px) {
  .strap-icon {
    right: calc(50% - 960px);
  }
}
@media screen and (max-width: 1200px) {
  .strap-icon {
    display: none;
  }
}
.strap-icon img {
  width: 32px;
  height: 32px;
}

.work-gallery__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 128px;
}
@media screen and (max-width: 1512px) {
  .work-gallery__header {
    margin-block-end: 96px;
  }
}
@media screen and (max-width: 1024px) {
  .work-gallery__header {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--content-spacing);
  }
}
.work-gallery__header-description {
  width: 664px;
}
@media screen and (max-width: 1512px) {
  .work-gallery__header-description {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .work-gallery__header-description {
    width: auto;
  }
}
.work-gallery .showreel,
.work-gallery .carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.work-gallery .showreel {
  --showreel-gap: 64px;
  gap: var(--showreel-gap);
}
@media screen and (max-width: 1512px) {
  .work-gallery .showreel {
    --showreel-gap: 48px;
  }
}
@media screen and (max-width: 1200px) {
  .work-gallery .showreel {
    --showreel-gap: 36px;
  }
}
@media screen and (max-width: 1024px) {
  .work-gallery .showreel {
    --showreel-gap: 24px;
  }
}
.work-gallery .showreel .showreel-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--showreel-gap);
}
.work-gallery .showreel .showreel-slider__figure {
  --figure-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebe9e9;
  aspect-ratio: 3/2;
  width: var(--figure-width);
  padding: calc(var(--figure-width) / 14);
}
@media screen and (max-width: 1512px) {
  .work-gallery .showreel .showreel-slider__figure {
    --figure-width: 420px;
  }
}
@media screen and (max-width: 1200px) {
  .work-gallery .showreel .showreel-slider__figure {
    --figure-width: 360px;
  }
}
@media screen and (max-width: 1024px) {
  .work-gallery .showreel .showreel-slider__figure {
    --figure-width: 320px;
  }
}
@media screen and (max-width: 768px) {
  .work-gallery .showreel .showreel-slider__figure {
    --figure-width: 248px;
  }
}
.work-gallery .showreel .showreel-slider__asset.sunder-video {
  position: relative;
}
.work-gallery .showreel .showreel-slider__asset.sunder-video::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3%;
  background-color: #000014;
}
.work-gallery .carousel {
  gap: var(--carousel-gap);
}
.work-gallery .carousel-slider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--carousel-gap);
  width: 100vw;
}
.work-gallery .carousel-slider:nth-of-type(even) {
  justify-content: flex-end;
  margin-inline-start: unset;
}
.work-gallery .carousel-slider__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--background-color);
  width: 20%;
  flex-shrink: 0;
  aspect-ratio: 2/1.64;
}
@media screen and (max-width: 1200px) {
  .work-gallery .carousel-slider__figure {
    width: 24%;
  }
}
@media screen and (max-width: 768px) {
  .work-gallery .carousel-slider__figure {
    width: 28%;
    border-width: 1px;
  }
}
@media screen and (max-width: 480px) {
  .work-gallery .carousel-slider__figure {
    width: 26%;
  }
}
.work-gallery .carousel-slider__img {
  width: 80%;
  height: 100%;
  background-color: var(--background-color);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
}

.work-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: var(--content-spacing);
}
.work-list__projects {
  display: flex;
  flex-direction: column;
}
.work-list__projects .work-item {
  display: flex;
  align-items: center;
  padding-block: 48px;
}
@media screen and (max-width: 1024px) {
  .work-list__projects .work-item {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    gap: 40px;
  }
}
.work-list__projects .work-item__logo {
  width: 250px;
  margin-inline-end: 24%;
  padding-inline-end: 48px;
}
@media screen and (min-width: 1201px) {
  .work-list__projects .work-item__logo {
    padding-block: 32px;
  }
}
@media screen and (max-width: 1512px) {
  .work-list__projects .work-item__logo {
    margin-inline-end: 20%;
    width: 216px;
  }
}
@media screen and (max-width: 1200px) {
  .work-list__projects .work-item__logo {
    margin-inline-end: auto;
    width: 180px;
    padding-block: initial;
    padding-inline-end: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .work-list__projects .work-item__logo {
    display: none;
  }
}
.work-list__projects .work-item__showcase {
  display: none;
}
@media screen and (max-width: 1024px) {
  .work-list__projects .work-item__showcase {
    display: block;
    width: min(100%, 500px);
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.work-list__projects .work-item__showcase img {
  width: 100%;
}
.work-list__projects .work-item__badges {
  margin-left: auto;
  width: 520px;
  padding-inline-end: 128px;
  flex-shrink: 0;
}
@media screen and (max-width: 1512px) {
  .work-list__projects .work-item__badges {
    width: 456px;
    padding-inline-end: 96px;
  }
}
@media screen and (max-width: 1200px) {
  .work-list__projects .work-item__badges {
    width: 420px;
    padding-inline-end: 64px;
    scale: 0.9;
  }
}
@media screen and (max-width: 1024px) {
  .work-list__projects .work-item__badges {
    width: 100%;
    scale: 1;
  }
}
.work-list__projects .work-item__cta {
  flex-shrink: 0;
}
.work-list__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: var(--content-spacing);
}
.work-list--limit-count .work-list__projects .service-divider:last-of-type {
  display: block;
}
.work-list--limit-count .work-list__projects .service-divider,
.work-list--limit-count .work-list__projects .work-item {
  display: none;
}
.work-list--limit-count .work-list__projects .service-divider:nth-of-type(1), .work-list--limit-count .work-list__projects .service-divider:nth-of-type(2), .work-list--limit-count .work-list__projects .service-divider:nth-of-type(3),
.work-list--limit-count .work-list__projects .work-item:nth-of-type(1),
.work-list--limit-count .work-list__projects .work-item:nth-of-type(2),
.work-list--limit-count .work-list__projects .work-item:nth-of-type(3) {
  display: flex;
}

.hero-about h1 .color-text .word:first-of-type {
  color: var(--accent-color--primary);
}
.hero-about h1 .color-text .word:last-of-type {
  color: var(--accent-color--secondary);
}

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .about-me {
    flex-direction: column;
    gap: var(--content-spacing);
  }
}
.about-me__text {
  width: 44%;
}
@media screen and (max-width: 1024px) {
  .about-me__text {
    width: 100%;
  }
}
.about-me__text .section-title {
  margin-block-end: calc(var(--content-spacing) / 2);
}
.about-me__text-title {
  margin-block-end: var(--content-spacing);
}
.about-me__text-description {
  margin-block-end: var(--content-spacing);
}
.about-me__text .cta-group {
  justify-content: flex-start;
  margin-block-start: var(--content-spacing);
}
.about-me__poster {
  width: 44%;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(5, 20%);
}
@media screen and (max-width: 1024px) {
  .about-me__poster {
    width: 98%;
  }
}
.about-me__poster-figure {
  --gap: 6px;
}
@media (prefers-reduced-motion: no-preference) {
  .about-me__poster-figure {
    transition: 1.6s cubic-bezier(0.18, 0.97, 0.47, 1);
    opacity: 0;
    scale: 0.9;
  }
  .about-me__poster-figure.animate {
    opacity: 1;
    scale: 1;
  }
}
@media screen and (max-width: 1024px) {
  .about-me__poster-figure {
    --gap: 8px;
  }
}
@media screen and (max-width: 480px) {
  .about-me__poster-figure {
    --gap: 4px;
  }
}
.about-me__poster-figure:nth-of-type(1) {
  grid-area: 1/1/4/2;
  translate: calc(var(--gap) * -1) calc(var(--gap) * -1);
}
.about-me__poster-figure:nth-of-type(2) {
  grid-area: 1/2/3/3;
  translate: var(--gap) calc(var(--gap) * -1);
}
.about-me__poster-figure:nth-of-type(3) {
  grid-area: -3/1/-1/2;
  translate: calc(var(--gap) * -1) var(--gap);
}
.about-me__poster-figure:nth-of-type(3) img {
  -o-object-position: 0% 20%;
     object-position: 0% 20%;
}
.about-me__poster-figure:nth-of-type(4) {
  grid-area: 3/2/-1/-1;
  translate: var(--gap) var(--gap);
}
.about-me__poster-figure img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-home h1 .color-text .word:first-of-type {
  color: var(--accent-color--primary);
}
.hero-home h1 .color-text .word:last-of-type {
  color: var(--accent-color--secondary);
}

.hero-contact h1.h1, .hero-contact nav .nav-links h1.nav-link, nav .nav-links .hero-contact h1.nav-link, .hero-contact h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .hero-contact h1.h1, .hero-contact nav .nav-links h1.nav-link, nav .nav-links .hero-contact h1.nav-link, .hero-contact h1 {
    display: inline;
  }
}
.hero-contact h1.h1 .color-text .word:nth-of-type(2), .hero-contact h1 .color-text .word:nth-of-type(2),
.hero-contact h1.h1 .color-text .word:last-of-type,
.hero-contact h1 .color-text .word:last-of-type {
  color: var(--hero-color--secondary);
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .contact {
    flex-direction: column;
    gap: 128px;
  }
}
.contact-form {
  --form-gap: 56px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--form-gap);
}
@media screen and (max-width: 1200px) {
  .contact-form {
    --form-gap: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .contact-form {
    width: 100%;
  }
}
.contact-form .section-title {
  margin-block-end: calc(var(--content-spacing) - var(--form-gap));
}
.contact-form .form-block {
  --block-height: 64px;
  --block-border-width: 2px;
  position: relative;
  height: var(--block-height);
  width: 100%;
}
@media screen and (max-width: 1512px) {
  .contact-form .form-block {
    --block-height: 56px;
  }
}
@media screen and (max-width: 1024px) {
  .contact-form .form-block {
    --block-height: 48px;
  }
}
.contact-form .form-block:hover::before, .contact-form .form-block:focus-within::before {
  width: 100%;
  left: 0;
  right: auto;
}
.contact-form .form-block:hover .label, .contact-form .form-block:focus-within .label {
  opacity: 1;
}
.contact-form .form-block::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: var(--block-border-width);
  z-index: 1;
  background-color: var(--hero-color--primary);
  transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1);
}
.contact-form .form-block:has(.textarea) {
  align-items: flex-start;
  height: calc(var(--block-height) * 4);
}
.contact-form .form-block:has(.textarea) .label {
  align-items: flex-end;
  padding-block-end: 12px;
}
.contact-form .label,
.contact-form .input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--font-color--primary);
}
.contact-form .textarea {
  resize: none;
  padding-block: 12px;
}
.contact-form .input {
  background: transparent;
  border-bottom: var(--block-border-width) solid var(--accent-color--primary);
}
.contact-form .label {
  display: flex;
  align-items: center;
  pointer-events: none;
  opacity: 0.5;
  transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1);
}
.contact-form .label .nested-label {
  font-size: 14px;
  translate: 12px -6px;
  font-style: oblique;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1), opacity 0s;
}
.contact-form .input:focus ~ .label,
.contact-form .input:not(:placeholder-shown).input:not(focus) ~ .label, .contact-form:-webkit-autofill, .contact-form:-webkit-autofill:hover, .contact-form:-webkit-autofill:focus {
  translate: 0 -80%;
  opacity: 1;
}
.contact-form .textarea:not(:-moz-placeholder-shown).textarea:not(focus) ~ .label {
  translate: 0 -100%;
}
.contact-form .textarea:focus ~ .label,
.contact-form .textarea:not(:placeholder-shown).textarea:not(focus) ~ .label {
  translate: 0 -100%;
}
.contact-form .textarea:not(:-moz-placeholder-shown).textarea:not(focus) ~ .label .nested-label {
  translate: 8px -1px;
  opacity: 1;
  visibility: visible;
  -moz-transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1), opacity 0.6s cubic-bezier(0.18, 0.97, 0.47, 1) 0.4s;
  transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1), opacity 0.6s cubic-bezier(0.18, 0.97, 0.47, 1) 0.4s;
}
.contact-form .textarea:focus ~ .label .nested-label,
.contact-form .textarea:not(:placeholder-shown).textarea:not(focus) ~ .label .nested-label {
  translate: 8px -1px;
  opacity: 1;
  visibility: visible;
  transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1), opacity 0.6s cubic-bezier(0.18, 0.97, 0.47, 1) 0.4s;
}
.contact-form .form-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-block-start: calc(var(--content-spacing) - var(--form-gap));
}
.contact-form .form-footer .cta-1 {
  flex-shrink: 0;
}
.contact-form .form-footer .status-message {
  opacity: 0;
  visibility: hidden;
  transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1);
}
.contact-form .form-footer .status-message.active {
  opacity: 1;
  visibility: visible;
}
.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
  width: 32%;
}
@media screen and (max-width: 1200px) {
  .contact-details {
    gap: 48px;
  }
}
@media screen and (max-width: 1024px) {
  .contact-details {
    width: 100%;
  }
}
.contact-details .portrait-sm {
  translate: 0 0;
  width: 96px;
  height: 96px;
}
.contact-details__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.pre-footer-contact h2.h1, .pre-footer-contact nav .nav-links h2.nav-link, nav .nav-links .pre-footer-contact h2.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pre-footer-contact h2.h1 .color-text .word:nth-of-type(1), .pre-footer-contact nav .nav-links h2.nav-link .color-text .word:nth-of-type(1), nav .nav-links .pre-footer-contact h2.nav-link .color-text .word:nth-of-type(1) {
  color: var(--font-color--primary);
}
.pre-footer-contact h2.h1 .color-text .word:nth-of-type(2), .pre-footer-contact nav .nav-links h2.nav-link .color-text .word:nth-of-type(2), nav .nav-links .pre-footer-contact h2.nav-link .color-text .word:nth-of-type(2) {
  color: var(--hero-color--secondary);
}
.pre-footer-contact h2.h1 .color-text .word:nth-of-type(3), .pre-footer-contact nav .nav-links h2.nav-link .color-text .word:nth-of-type(3), nav .nav-links .pre-footer-contact h2.nav-link .color-text .word:nth-of-type(3) {
  color: var(--hero-color--secondary);
}

.hero-work h1 .color-text .word:last-of-type {
  color: var(--accent-color--tertiary);
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 86vh;
  height: 86dvh;
}
@media screen and (max-width: 1512px) {
  .error {
    height: 100vh;
    height: 100dvh;
  }
}
@media screen and (max-width: 768px) {
  .error {
    height: 92vh;
    height: 92dvh;
  }
}
.error h1 {
  margin-block-end: 24px;
}
.error p {
  margin-block-end: 48px;
}/*# sourceMappingURL=styles.css.map */