.focus-cards {
  &__title {
    margin-block-end: var(--content-spacing);

    @include mq-min("lg") {
      // mq-min
      text-align: center;
    }
  }

  &__group {
    @include row-center(space-between);
    align-items: stretch;
    flex-wrap: wrap;
    gap: var(--content-spacing);

    @include mq-max("xxl") {
      gap: 24px;
    }
  }

  .focus-card {
    background-color: var(--neutral-dark);
    // padding: 32px;
    padding: 48px;

    @media all {
      @include mq-max("xxl") {
        // padding: 24px;
        padding: 36px;
      }

      @include mq-max("md") {
        padding: 20px;
      }

      @include mq-min("md") {
        // mq-min
        flex: 1 0 400px;
      }
    }

    &__title {
      margin-block-end: 24px;
    }

    &__subtitle {
      @include body-font-styles;
      margin-block-end: 40px;

      @include mq-max("md") {
        margin-block-end: 32px;
      }
    }

    // &__description {
    // }
  }
}
