.focus-cards {
  &__title {
    margin-block-end: var(--content-spacing);

    @include mq-min("lg") {
      // mq-min
      text-align: center;
    }
  }

  &__group {
    @include row-center(space-between);
    align-items: stretch;
    flex-wrap: wrap;
    gap: var(--content-spacing);

    @include mq-max("xxl") {
      gap: 24px;
    }
  }

  .focus-card {
    background-color: var(--neutral-dark);
    padding: 48px;

    @media all {
      @include mq-motion-allow {
        opacity: 0;
        translate: 0 25%;
        transition: 0.6s $cubic-ease-back;

        &:nth-child(2n) {
          transition-delay: 0.12s;

          @include mq-max("md") {
            transition-delay: 0s;
          }
        }

        &.animate {
          opacity: 1;
          translate: 0 0;
        }
      }

      @include mq-max("xxl") {
        padding: 36px;
      }

      @include mq-max("md") {
        padding: 20px;
      }

      @include mq-min("md") {
        // mq-min
        flex: 1 0 400px;
      }
    }

    &__title {
      margin-block-end: 24px;
    }

    &__subtitle {
      @include body-font-styles;
      margin-block-end: 40px;

      @include mq-max("md") {
        margin-block-end: 32px;
      }
    }

    // &__description {
    // }
  }
}
