.get-in-touch {
  padding: 0;
  overflow: hidden;

  .gsap-scale {
    position: relative;
    height: 100vh;
    // height: 100dvh;
    min-height: 480px;
    scale: 1.2;
  }

  .bg-text {
    @include absolute-center;
    @include column-center;

    &__text {
      font-family: $font-family-primary;
      font-size: min(12vw, 256px);
      display: inline-flex;
      text-wrap: nowrap;
      line-height: 1;
      animation: low-fade 0.1s ease forwards; // Attempt to fix a11y score

      @media all {
        @include mq-min("xxxl") {
          line-height: 1.25;
        }

        @include mq-max("xl") {
          line-height: 1.25;
        }

        @include mq-max("md") {
          font-size: 20vw;
        }
      }

      &:nth-last-of-type(1),
      &:nth-last-of-type(2) {
        @include mq-min("sm") {
          display: none;
        }
      }
    }
  }

  .availability-wrapper {
    @include absolute-center;
    translate: -50% -102px;

    @include mq-max("xxl") {
      translate: -50% -96px;
    }
  }

  .large-cta-wrapper {
    @include absolute-center;
    @include column-center;
    gap: 48px;
    width: 120vw;
    height: 100vh;
    transform-origin: left top;

    @include mq-max("xxl") {
      gap: 36px;
    }

    @include mq-max("md") {
      gap: 24px;
    }
  }
}
