.goal-oriented {
  &__paragraph {
    @include column-start;
    gap: var(--content-spacing);
    text-wrap: balance;

    @include mq-max("xl") {
      gap: 48px;
    }
  }

  .cta-group {
    justify-content: flex-start;
    margin-block-start: var(--content-spacing);
  }
}
