.mission-statement {
  .section-title {
    margin-block-end: 64px; // Keep an eye on this, might become global
  }

  &__paragraph {
    @include column-start;
    gap: 64px;
    text-wrap: balance;
  }

  .cta-group {
    justify-content: flex-start;
    margin-block-start: 64px;
  }
}
