.social-post {
  $delay: 1s;

  @include column-start(space-between);
  position: relative;
  background-color: $navy;
  // scale: 0.8;
  margin: auto;

  // used with --swipe-top || --swiper-left modifier classes
  &::before {
    content: "";
    position: absolute;
    background-color: white;
    // animation name below
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.62, 0.07, 0.15, 1.19);
    animation-delay: calc($delay + 1.25s);
    animation-fill-mode: forwards;
  }

  .green {
    color: $green;
  }

  .pre-title {
    font-size: 32px;

    opacity: 0;
    animation: fade-in 0.75s ease calc($delay + 0.5s) forwards;

    @keyframes fade-in {
      to {
        opacity: 1;
      }
    }
  }

  .character-split {
    @extend .h1;
    font-size: 164px;

    &__word {
      display: inline-flex;
      white-space: nowrap;
    }

    &__letter {
      display: inline-flex;
      scale: 0;
      rotate: 45deg;
      animation: letter-spin 0.7s $cubic-ease-slow-finish forwards;

      @for $i from 1 through 20 {
        &:nth-of-type(#{$i}) {
          animation-delay: $delay + 0.05s * $i;
        }
      }

      @keyframes letter-spin {
        to {
          scale: 1;
          rotate: 0deg;
        }
      }
    }
  }

  &--instagram {
    width: 1080px;
    height: 1080px;
    padding: 48px;
  }

  &--top-swipe {
    .pre-title,
    .headline {
      mix-blend-mode: difference;
      color: white !important;
    }

    &::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      animation-name: post-bg--top;

      @keyframes post-bg--top {
        0% {
          height: 0;
          top: 0;
          bottom: auto;
        }
        25% {
          height: 100%;
          top: 0;
          bottom: auto;
        }
        75% {
          height: 100%;
          top: auto;
          bottom: 0;
        }
        100% {
          height: 0;
          top: auto;
          bottom: 0;
        }
      }
    }
  }

  &--left-swipe {
    .pre-title,
    .headline {
      mix-blend-mode: difference;
      color: white !important;
    }

    &::before {
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      animation-name: post-bg--left;

      @keyframes post-bg--left {
        0% {
          width: 0;
          left: 0;
          right: auto;
        }
        25% {
          width: 100%;
          left: 0;
          right: auto;
        }
        75% {
          width: 100%;
          left: auto;
          right: 0;
        }
        100% {
          width: 0;
          left: auto;
          right: 0;
        }
      }
    }
  }
}
