.strap {
  $fill-color: var(--hero-color--primary);
  $clip-size: 32px;
  $padding: 12px; // Doesn't NEED to be shared, but it works.

  @include row-center;
  position: fixed;
  top: 32px;
  right: 0;
  margin-inline-end: var(--strap-right-offset);
  padding: $padding;
  padding-inline-end: 48px;
  border-radius: $radius;
  overflow: hidden;
  background-color: transparent;

  @include mq-motion-allow {
    transition: 0.6s $cubic-ease;
  }

  &::before {
    content: "";
    box-shadow: 0 0 0 250px $fill-color;
    padding: $padding;
    border-radius: 50%;
    width: $clip-size;
    height: $clip-size;

    @include mq-max("xl") {
      background-image: url(../../static/img/icon-nodes.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .social-media-links {
    display: flex;
    gap: 4px;
    margin-inline: 16px;

    @media all {
      @include mq-max("xxl") {
        margin-inline: 12px;
      }

      @include mq-max("md") {
        gap: 12px;
      }
    }

    .social-media-link {
      display: grid;
      border-radius: 50%;
      overflow: hidden;
      transition: 0.25s ease;

      // @include mq-min("sm") {
      //   overflow: hidden;
      // }

      .social-media-icon {
        grid-area: 1 / 1;
        width: 32px;
        height: 32px;
        mask-size: 100%;
        mask-repeat: no-repeat;
        background-color: var(--font-color--primary);

        @include mq-motion-allow {
          transition: all 0.48s $cubic-ease, background 0.48s $cubic-ease 0.2s;
        }

        &:last-of-type {
          translate: 0 100%;

          // @include mq-max("sm") {
          //   display: none;
          // }
        }
      }

      &:hover,
      &:focus-visible {
        .social-media-icon {
          translate: 0 -100%;
          background-color: var(--hero-color--secondary);

          &:last-of-type {
            translate: 0 0;
          }
        }
      }

      &.safari-styles {
        border-radius: 0;
      }
    }
  }

  &--page {
    @media all {
      @include mq-min("xxxl") {
        right: calc(50% - calc($content-width / 2));
      }

      @include mq-max("xl") {
        display: none;
      }
    }
  }

  &--nav {
    @media all {
      @include mq-motion-allow {
        translate: 45% 0;
        transition: translate 2s $cubic-ease 0s;
      }

      @include mq-max("xl") {
        top: auto;
        bottom: $body-padding-xxl;
        scale: 0.8;
        margin-inline-end: -64px;
      }

      @include mq-max("md") {
        bottom: $body-padding-md;
      }

      @include mq-max("sm") {
        margin-inline-end: -72px;
      }
    }
  }
}

.strap-icon {
  position: fixed;
  top: var(--icon-top-distance);
  right: 0;
  margin-inline-end: var(--strap-right-offset);
  width: var(--strap-width); // set via js, see scroll.js
  height: 32px;
  padding-inline-start: 24px;

  @media all {
    @include mq-motion-allow {
      transition: 0.6s $cubic-ease;
    }

    @include mq-min("xxxl") {
      right: calc(50% - calc($content-width / 2));
    }

    @include mq-max("xl") {
      display: none;
    }
  }

  img {
    width: 32px;
    height: 32px;
  }
}
