.strap {
  $clip-size: 32px;
  $padding: 12px; // Doesn't NEED to be shared, but it works.

  @include row-center;
  position: fixed;
  top: 32px;
  right: 0;
  margin-inline-end: -40px;
  padding: $padding;
  padding-inline-end: 48px;
  border-radius: $radius;
  overflow: hidden;

  &::before {
    content: "";
    background-image: url(../../static/img/icon-nodes.svg);
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 1 / 1;
    box-shadow: 0 0 0 250px var(--primary-accent-color);
    padding: $padding;
    border-radius: 50%;
    width: $clip-size;
    height: $clip-size;
  }

  .social-media-links {
    display: flex;
    gap: 4px;
    margin-inline: 16px;

    @media all {
      @include mq-max("xxl") {
        margin-inline: 12px;
      }

      @include mq-max("md") {
        gap: 12px;
      }
    }

    // li.magnet {
    //   transition: 0.4s ease;
    // }

    .social-media-link {
      @include row-center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      overflow: hidden;
      transition: 0.25s ease;

      @include mq-max("sm") {
        width: 24px;
        height: 24px;
      }

      &:hover,
      &:focus-visible {
        .social-media-icon-wrapper {
          translate: 0 -40%;
        }
      }

      .social-media-icon-wrapper {
        @include column-center;
        gap: 24px;
        translate: 0 36%;
        transition: 0.25s ease;

        .social-media-icon {
          path {
            fill: var(--primary-font-color);
          }
        }
      }
    }
  }

  &--page {
    @media all {
      @include mq-min("xxxl") {
        right: calc(50% - calc($content-width / 2));
      }

      @include mq-max("xxl") {
        scale: 0.9;
        transform-origin: right;
        margin-right: -36px;
      }

      @include mq-max("xl") {
        display: none;
      }
    }
  }

  &--nav {
    @media all {
      @include mq-motion-allow {
        translate: 45% 0;
        transition: translate 2s $cubic-ease 0s;
      }

      @include mq-max("xl") {
        top: auto;
        bottom: $body-padding-xxl;
        scale: 0.8;
        margin-inline-end: -64px;
      }

      @include mq-max("md") {
        bottom: $body-padding-md;
      }

      @include mq-max("sm") {
        margin-inline-end: -72px;
      }
    }
  }
}
