.work-list {
  // for padding bottom, see 'section' in globals

  &__header {
    @include row-center(space-between);
    margin-block-end: var(--content-spacing);
  }

  &__projects {
    display: flex;
    flex-direction: column;

    .work-item {
      display: flex;
      align-items: center;
      padding-block: 48px;

      @include mq-max("lg") {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        gap: 40px;
      }

      &__logo {
        // not using flex: 1 0 250px for mouse image hover. Flex extended element
        width: 250px;
        margin-inline-end: 24%;
        padding-inline-end: 48px;

        @media all {
          @include mq-min("xl") {
            // min-mq
            padding-block: 32px;
          }

          @include mq-max("xxl") {
            margin-inline-end: 20%;
            width: 216px;
          }

          @include mq-max("xl") {
            margin-inline-end: auto;
            width: 180px;
            padding-block: initial;
            padding-inline-end: 16px;
          }

          @include mq-max("lg") {
            display: none;
          }
        }
      }

      &__showcase {
        display: none;

        @include mq-max("lg") {
          display: block;
          width: min(100%, 500px);
          object-fit: cover;
          // aspect-ratio: 1.64 / 1; // fixes bottom cropping issue, chrome mobile
        }

        img {
          width: 100%;
        }
      }

      &__badges {
        margin-left: auto;
        width: 520px;
        padding-inline-end: 128px;
        flex-shrink: 0;

        @media all {
          @include mq-max("xxl") {
            width: 456px;
            padding-inline-end: 96px;
          }

          @include mq-max("xl") {
            width: 420px;
            padding-inline-end: 64px;
            scale: 0.9;
          }

          @include mq-max("lg") {
            width: 100%;
            scale: 1;
          }
        }
      }

      &__cta {
        flex-shrink: 0;
      }
    }
  }

  &__footer {
    @include row-center;
    margin-block-start: var(--content-spacing);
  }

  // Only show three work items unless specified with 'show_all'
  &--limit-count {
    .work-list__projects {
      .service-divider:last-of-type {
        display: block;
      }

      .service-divider,
      .work-item {
        display: none;

        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3) {
          display: flex;
        }
      }
    }
  }
}
