.work-gallery {
  &__header {
    @include invert-colors;
    @include row-center(space-between);
    margin-block-end: $content-spacing;

    &-description {
      width: 664px;

      @include mq-max("xxl") {
        width: 50%;
      }
    }
  }

  &__showreel {
    overflow: hidden;

    .showreel-slider {
      --showreel-gap: 64px;

      @include row-center;
      gap: var(--showreel-gap);

      @include mq-max("xxl") {
        --showreel-gap: 48px;
      }

      &:first-of-type {
        margin-block-end: var(--showreel-gap);
      }

      &__figure {
        background: #ebe9e9;
        padding: 64px 48px;

        @include mq-max("xxl") {
          padding: 40px 24px;
        }
      }

      &__asset {
        height: 216px;

        video {
          height: 100%;
        }

        &.sunder-video {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 80px;
            height: 8px;
            background-color: #000014;
          }
        }
      }
    }
  }
}
