.work-section {
  &__header {
    @include row-center(space-between);
  }

  &__projects {
    display: flex;
    flex-direction: column;
    margin-block: 64px;

    .work-item {
      @include row-center(space-between);
      padding-block: 48px;
      padding-inline-end: 48px;
      gap: 64px;

      @include mq-max("lg") {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
      }

      &__logo {
        // border: $test;
        flex: 1;

        img {
          width: 250px;
        }
      }

      &__badges {
        // border: $test;
        flex: 1;
        max-width: 400px;
      }
    }
  }

  &__footer {
    @include row-center;
  }
}
