.hero-contact {
  h1.h1 {
    @include column-center;

    @include mq-max("sm") {
      display: inline;
    }

    .color-text {
      .word:nth-of-type(2),
      .word:last-of-type {
        color: var(--hero-color--secondary);
      }
    }
  }
}

.contact {
  @include row-start(space-between);

  @include mq-max("lg") {
    flex-direction: column;
    gap: 128px;
  }

  &-form {
    --form-gap: 56px;

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--form-gap);

    @include mq-max("xl") {
      --form-gap: 40px;
    }

    @include mq-max("lg") {
      width: 100%;
    }

    .section-title {
      margin-block-end: calc(var(--content-spacing) - var(--form-gap));
    }

    .form-block {
      --block-height: 64px;
      --block-border-width: 2px;

      position: relative;
      height: var(--block-height);
      width: 100%;

      @include mq-max("xxl") {
        --block-height: 56px;
      }

      @include mq-max("lg") {
        --block-height: 48px;
      }

      &:hover,
      &:focus-within {
        &::before {
          width: 100%;
          left: 0;
          right: auto;
        }
        .label {
          opacity: 1;
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: var(--block-border-width);
        z-index: 1;

        // background-color: var(--hero-color--secondary);
        background-color: var(--hero-color--primary);

        transition: 0.6s $cubic-ease;
      }

      &:has(.textarea) {
        align-items: flex-start;
        height: calc(var(--block-height) * 4);

        .label {
          align-items: flex-end;
          padding-block-end: 12px;
        }
      }
    }

    .label,
    .input {
      @extend .h4;
      @include row-center(flex-start);
      position: absolute;
      width: 100%;
      height: 100%;
      color: var(--font-color--primary);
    }

    .textarea {
      resize: none;
      padding-block: 12px;

      // @include mq-max("lg") {
      //   padding-block-start: 7px;
      // }

      // @include mq-max("sm") {
      //   padding-block-start: 10px;
      // }
    }

    .input {
      background: transparent;
      border-bottom: var(--block-border-width) solid
        var(--accent-color--primary);
    }

    .label {
      display: flex;
      align-items: center;
      pointer-events: none;
      opacity: 0.5;

      transition: 0.6s $cubic-ease;

      .nested-label {
        font-size: 14px;
        translate: 12px -6px;
        font-style: oblique;
        opacity: 0;
        visibility: hidden;
        transition: 0.6s $cubic-ease, opacity 0s;
      }
    }

    .input:focus ~ .label,
    .input:not(:placeholder-shown).input:not(focus) ~ .label,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      @extend .h5;
      translate: 0 -80%;
      opacity: 1;
    }
    .textarea:focus ~ .label,
    .textarea:not(:placeholder-shown).textarea:not(focus) ~ .label {
      translate: 0 -100%;

      .nested-label {
        translate: 8px -1px;
        opacity: 1;
        visibility: visible;

        transition: 0.6s $cubic-ease, opacity 0.6s $cubic-ease 0.4s;
      }
    }

    .form-footer {
      @include row-center(flex-start);
      gap: 24px;
      flex-wrap: wrap;
      margin-block-start: calc(var(--content-spacing) - var(--form-gap));

      .cta-1 {
        flex-shrink: 0;
      }

      .status-message {
        opacity: 0;
        visibility: hidden;
        transition: 0.6s $cubic-ease;

        &.active {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &-details {
    @include column-start;
    gap: 64px;
    width: 32%;

    @include mq-max("xl") {
      gap: 48px;
    }

    @include mq-max("lg") {
      width: 100%;
    }

    .portrait-sm {
      translate: 0 0;
      width: 96px;
      height: 96px;
    }

    &__group {
      @include column-start;
      gap: 16px;
    }
  }
}

.pre-footer-contact {
  h2.h1 {
    @include column-center;

    .color-text {
      .word:nth-of-type(1) {
        color: var(--font-color--primary);
      }
      .word:nth-of-type(2) {
        color: var(--hero-color--secondary);
      }
      .word:nth-of-type(3) {
        color: var(--hero-color--secondary);
      }
    }
  }
}
