.hero {
  @include column-center;
  gap: 24px;
  padding-block: 380px;

  @media all {
    @include mq-max("xxl") {
      padding-block: 264px;
    }

    @include mq-max("xl") {
      padding-block: 236px;
    }

    @include mq-max("sm") {
      padding-block: 212px;
    }
  }

  h1 {
    margin-block-end: 48px;
    line-height: 1.2;

    @include mq-min("md") {
      @include column-center;
    }

    @include mq-max("md") {
      display: inline;
      text-align: center;
    }

    & > .magnet-text {
      .word:first-of-type {
        color: $bluey;
      }
      .word:last-of-type {
        color: $bingo;
      }
    }

    .word {
      display: inline-flex;
    }
  }

  // make this global?
  .emoji {
    font-size: 0.5em;
    display: inline-block;
    translate: 0 -25%;
  }

  &__background {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    filter: url(#nnnoise-filer);

    .noise {
      position: absolute;
      width: 100vw;
      height: 100vh;
      scale: 2;
      display: none;
    }

    .glow-ball {
      position: absolute;
      width: 12vw;
      height: 12vw;
      border-radius: 50%;
      filter: blur(96px);
      // filter: blur(128px);
      // opacity: 0.5;
      z-index: -2;

      &:first-of-type {
        background: $bluey;
        top: 50%;
        left: 8%;

        @include mq-max("md") {
          left: 0;
        }
      }

      &:last-of-type {
        background: $bingo;
        top: 32%;
        right: 8%;
      }
    }
  }
}
