---
title: About // Aaron Garcia Creative
description: CHANGE ME
author: Aaron Garcia

layout: app
path: about
---

<!-- prettier-ignore -->
{% set hero = true %}
{% set page = 'about' %}
{% set left_align = true %}
{% set heading_markup = '
<span class="magnet-text" aria-hidden="true">Driven, self-taught web</span>
<span aria-hidden="true">
  <span class="magnet-text color-text">designer & developer</span>
  <span class="emoji">💻</span>
</span>
' %}
<!-- prettier-ignore -->
{% set heading_aria_label = 'Dedicated, self-taught designer and developer' %}
{% include "./_includes/partials/hero.html" %}

<!-- prettier-ignore -->
{% set marquee_text = marquee.marquee_text %}
{% set marquee_text_speech = marquee.marquee_text_speech %}
{% include "./_includes/partials/marquee.html" %}

<!-- prettier-ignore -->
{% set cta_large_url = "/contact" %}
{% include "./_includes/partials/get-in-touch.html" %}

<!-- prettier-ignore -->
{% set hero = false %}
{% set page = 'about' %}
{% set left_align = false %}
{% set heading_markup = '
<span class="magnet-text" aria-hidden="true">Have a project in mind?</span>
<span aria-hidden="true">
  <img class="portrait-sm" src="/static/img/portrait.avif" alt="" />
  <span class="magnet-text color-text">Let’s collaborate!</span>
  <span class="emoji">🤝</span>
</span>
' %}
<!-- prettier-ignore -->
{% set heading_aria_label = 'Have a project in mind? Let’s collaborate' %}
{% include "./_includes/partials/hero.html" %}
