---
layout: app
path: about

title: About // Aaron Garcia Creative
description: CHANGE ME
author: Aaron Garcia

# master props for cta-group
cta_1_text: Contact me
cta_1_url: /contact
cta_2_text: Book a call
cta_2_url: https://calendly.com/axyscreativeagency/15-min-intro?month=2024-10
cta_2_target: _blank
---

<!-- prettier-ignore -->
{% set hero = true %}
{% set left_align = true %}
{% set heading_markup = '
<span class="magnet-text" aria-hidden="true">Driven, self-taught web</span>
<span aria-hidden="true">
  <span class="magnet-text color-text">designer & developer</span>
  <span class="emoji">💻</span>
</span>
' %}
<!-- prettier-ignore -->
{% set heading_aria_label = 'Dedicated, self-taught designer and developer' %}
{% include "./_includes/partials/hero.html" %}

<section class="about-me">
  <div class="about-me__text">
    <!-- prettier-ignore -->
    {% set section_title_text = "About me" %}
    {% include "./_includes/partials/section-title.html" %}

    <h3 class="about-me__text-title">Aaron Garcia</h3>
    <p class="about-me__text-description">
      Hey, I’m Aaron 👋—a proud husband and father on a mission to make the web
      more user-friendly, accessible, and high-performing. These are essential
      areas where many websites fall short, yet they play a critical role in
      converting traffic and driving business growth.
      <br aria-hidden="true" />
      <br aria-hidden="true" />
      Too often, websites miss the mark on performance and accessibility
      standards, and that's where I come in. Ready to improve your site? Get
      started below!
    </p>

    <!-- prettier-ignore -->
    {% set content_start = false %}
    {% include "./_includes/partials/cta-group.html" %}
  </div>

  <div class="about-me__poster">
    <figure class="about-me__poster-figure gsap-animate">
      <img src="/static/img/about-img-portrait-1.webp" alt="" />
    </figure>
    <figure class="about-me__poster-figure gsap-animate">
      <img src="/static/img/about-img-square-1.webp" alt="" />
    </figure>
    <figure class="about-me__poster-figure gsap-animate">
      <img src="/static/img/about-img-square-2.webp" alt="" />
    </figure>
    <figure class="about-me__poster-figure gsap-animate">
      <img src="/static/img/about-img-portrait-2.webp" alt="" />
    </figure>
  </div>
</section>

<!-- prettier-ignore -->
{% include "./_includes/partials/focus-cards.html" %}

<!-- prettier-ignore -->
{% set show_brands = true %}
{% include "./_includes/partials/work-gallery.html" %}

<!-- prettier-ignore -->
{% set cta_large_url = "/contact" %}
{% include "./_includes/partials/get-in-touch.html" %}

<!-- prettier-ignore -->
{% set hero = false %}
{% set left_align = false %}
{% set heading_markup = '
<span class="magnet-text" aria-hidden="true">Have a project in mind?</span>
<span aria-hidden="true">
  <img class="portrait-sm" src="/static/img/portrait.avif" alt="" />
  <span class="magnet-text color-text">Let’s collaborate!</span>
  <span class="emoji">🤝</span>
</span>
' %}
<!-- prettier-ignore -->
{% set heading_aria_label = 'Have a project in mind? Let’s collaborate' %}
{% include "./_includes/partials/hero.html" %}
