---
layout: app
path: contact

title: Contact // Aaron Garcia Creative
description: Let’s collaborate to take your brand’s web presence to new heights. Reach out to discuss how we can create meaningful, user-friendly designs tailored to your audience.
---

<!-- prettier-ignore -->
{% set hero = true %}
{% set page = path %}
{% set heading_markup = '
<span aria-hidden="true" class="color-text">
  <img class="portrait-sm" src="' ~ settings.portrait_url ~ '" alt="" />
  <span class="magnet-text">Let’s get started!</span>
  <span class="emoji gsap-animate">🚀</span>
</span>
<span class="magnet-text" aria-hidden="true">Fill out the form below</span>
' %}
<!-- prettier-ignore -->
{% set heading_aria_label = 'Let’s get started! Fill out the form below.' %}
{% include "./_includes/partials/hero.html" %}

<section class="contact">
  <form
    class="contact-form"
    action="/"
    method="post"
    name="aaron-garcia-creative-contact-form"
    netlify
    netlify-honeypot="bot-field"
  >
    <!-- prettier-ignore -->
    {% set section_title_text = "Message me" %}
    {% include "./_includes/partials/section-title.html" %}

    <input type="hidden" name="bot-field" />

    <div class="form-block">
      <input
        class="input content-start tab-element-page"
        id="name"
        name="name"
        type="text"
        title="Please enter your first and last name"
        aria-label="Please enter your first and last name"
        placeholder=" "
        required
      />
      <label class="label" for="name">Name</label>
    </div>

    <div class="form-block">
      <input
        class="input email-input tab-element-page"
        id="email"
        name="email"
        type="text"
        title="Please enter your email address"
        aria-label="Please enter your email address"
        placeholder=" "
        required
      />
      <label class="label" for="email">Email</label>
    </div>

    <div class="form-block">
      <textarea
        class="input textarea tab-element-page"
        id="message"
        name="message"
        maxlength="250"
        spellcheck="true"
        title="Please enter your message here."
        aria-label="Please enter your message here."
        aria-describedby="message-label"
        placeholder=" "
        required
      ></textarea>
      <label
        class="label form-message-label"
        id="message-label"
        for="message"
        aria-live="assertive"
      >
        Message
        <span class="nested-label"></span>
      </label>
    </div>

    <div class="form-footer">
      <button
        class="cta-1 magnet magnet-wide-btn tab-element-page"
        type="submit"
        aria-label="Send your message"
      >
        Send message
      </button>

      <div class="form-message-container">
        <p
          class="status-message"
          id="status-message"
          role="status"
          aria-live="polite"
          aria-atomic="true"
        ></p>
      </div>
    </div>
  </form>

  <aside class="contact-details">
    <img class="portrait-sm" src="{{ settings.portrait_url }}" alt="" />

    <div class="contact-details__group">
      <!-- prettier-ignore -->
      {% set section_title_text = "General Inquiries" %}
      {% set use_h3 = true %}
      {% include "./_includes/partials/section-title.html" %}

      <a
        class="classic-link tab-element-page"
        href="mailto:aaronegarcia1@gmail.com"
        aria-label="Aaron E Garcia 1 at Gmail.com"
      >
        aaronegarcia1@gmail.com
      </a>
    </div>

    <div class="contact-details__group">
      <!-- prettier-ignore -->
      {% set section_title_text = "Social Media" %}
      {% set use_h3 = true %}
      {% include "./_includes/partials/section-title.html" %}

      {% for social in social_media.links %}
      <a
        class="classic-link tab-element-page"
        href="{{ social.url }}"
        target="_blank"
      >
        {{ social.title }}
      </a>
      {% endfor %}
    </div>

    <div class="contact-details__group">
      <!-- prettier-ignore -->
      {% set section_title_text = "AXYS Creative Clients" %}
      {% set use_h3 = true %}
      {% include "./_includes/partials/section-title.html" %}

      <a
        class="classic-link tab-element-page"
        href="mailto:info@axyscreative.com"
      >
        info@axyscreative.com
      </a>
    </div>
  </aside>
</section>

<!-- prettier-ignore -->
{% set cta_1_text = "Book a call" %}
{% set cta_1_url = "https://calendly.com/axyscreativeagency/15-min-intro" %}
{% set cta_1_target = "_blank" %}
{% set cta_2_text = "Return home" %}
{% set cta_2_no_tooltip = true %}
{% set cta_2_url = "/" %}

{% set hero = false %}
{% set heading_markup = '
<span class="magnet-text" aria-hidden="true">Book a call with me</span>
<span aria-hidden="true">
  <img class="portrait-sm" src="' ~ settings.portrait_url ~ '" alt="" />
  <span class="magnet-text color-text">to learn more</span>
  <span class="emoji gsap-animate">🗓️</span>
</span>
' %}
<!-- prettier-ignore -->
{% set heading_aria_label = 'Book a call with me to learn more' %}
{% include "./_includes/partials/hero.html" %}
