---
title: Aaron Garcia Creative
description: CHANGE ME
author: Aaron Garcia

layout: app
path: home
---

<section id="hero" class="hero">
  {% include "./_includes/partials/availability.html" %}

  <h1 class="h1" aria-label="Your partner in web design & development">
    <span aria-hidden="true">
      <span class="emoji">👋</span>
      <span class="magnet-text">Your partner in web</span>
      <img class="portrait-sm" src="./static/img/portrait.avif" alt="" />
    </span>
    <span class="magnet-text" aria-hidden="true">design & development</span>
  </h1>

  <!-- prettier-ignore -->
  {% set cta_1_text = 'Contact me' %}
  {% set cta_1_url = '#cta-1' %}
  {% set cta_2_text = 'Book a call' %}
  {% set cta_2_url = '#cta-2' %}
  {% set content_start = true %}
  {% include "./_includes/partials/cta-group.html" %}
  <!-- prettier-ignore -->

  <div class="hero__background" aria-hidden="true">
    <svg class="noise" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 700 700" width="700" height="700" opacity="1">'
      <defs>
        <filter id="nnnoise-filter" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">
          <feTurbulence type="turbulence" baseFrequency="0.04" numOctaves="4" seed="15" stitchTiles="stitch" x="0%" y="0%" width="100%" height="100%" result="turbulence"></feTurbulence>
          <feSpecularLighting lighting-color="#1e2932" surfaceScale="12" specularConstant="1.3" specularExponent="20" x="0%" y="0%" width="100%" height="100%" in="turbulence" result="specularLighting">
            <feDistantLight azimuth="3" elevation="96"></feDistantLight>
          </feSpecularLighting>
        </filter>
      </defs>
      <rect width="700" height="700" fill="transparent"></rect>
      <rect width="700" height="700" fill="#1e2932" filter="url(#nnnoise-filter)"></rect>
    </svg>
    
    <div class="glow-ball"></div>
    <div class="glow-ball"></div>
  </div>
</section>
