---
title: Aaron Garcia // Creative Web Design & Development
description: Aaron Garcia is your partner in web design & development. Together, we'll set the standards high.
author: Aaron Garcia

layout: app
path: home
---

<!-- prettier-ignore -->
{% set hero = true %}
{% set page = 'home' %}
{% set heading_markup = '
<span aria-hidden="true">
  <span class="emoji">👋</span>
  <span class="magnet-text">Your partner in web</span>
  <img class="portrait-sm" src="/static/img/portrait.avif" alt="" />
</span>
<span class="magnet-text colorful-text" aria-hidden="true">
  design & development
</span>
' %}
<!-- prettier-ignore -->
{% set heading_aria_label = 'Your partner in web design & development' %}
{% include "./_includes/partials/hero.html" %}

<!-- prettier-ignore -->
{% set marquee_text = marquee.marquee_text %}
{% set marquee_text_speech = marquee.marquee_text_speech %}
{% include "./_includes/partials/marquee.html" %}

<!-- prettier-ignore -->
{% set section_title_text = "Goal oriented" %}
{% include "./_includes/partials/mission-statement.html" %}

<!-- prettier-ignore -->
{% set section_title_text = "Selected work" %}
{% set section_cta_text = "View all projects" %}
{% set section_cta_url = "/work" %}
{% include "./_includes/partials/work-list.html" %}

<!-- prettier-ignore -->
{% set noise_type = 'dunes' %}
{% include "./_includes/partials/work-gallery.html" %}

<!-- prettier-ignore -->
{% set cta_large_url = "/contact" %}
{% include "./_includes/partials/get-in-touch.html" %}

<!-- prettier-ignore -->
{% set hero = false %}
{% set page = 'home' %}
{% set heading_markup = '
<span class="magnet-text" aria-hidden="true">Have a project in mind?</span>
<span aria-hidden="true">
  <img class="portrait-sm" src="/static/img/portrait.avif" alt="" />
  <span class="magnet-text colorful-text">Let’s collaborate!</span>
  <span class="emoji">🤝</span>
</span>
' %}
<!-- prettier-ignore -->
{% set heading_aria_label = 'Have a project in mind? Let’s collaborate' %}
{% include "./_includes/partials/hero.html" %}
