---
title: Work // Aaron Garcia Creative
description: Explore the different projects I've worked on.
author: Aaron Garcia

layout: app
path: work
---

<!-- prettier-ignore -->
{% set hero = true %}
{% set page = 'work' %}
{% set left_align = true %}
{% set heading_markup = '
<span class="magnet-text" aria-hidden="true">Creating memorable</span>
<span aria-hidden="true">
  <span class="magnet-text colorful-text">web experiences</span>
  <span class="emoji">💡</span>
</span>
' %}
<!-- prettier-ignore -->
{% set heading_aria_label = 'Creating memorable web experiences' %}
{% include "./_includes/partials/hero.html" %}

<!-- prettier-ignore -->
{% set marquee_text = marquee.marquee_text %}
{% set marquee_text_speech = marquee.marquee_text_speech %}
{% include "./_includes/partials/marquee.html" %}

<!-- prettier-ignore -->
{% set cta_large_url = "/contact" %}
{% include "./_includes/partials/get-in-touch.html" %}

<!-- prettier-ignore -->
{% set hero = false %}
{% set page = 'work' %}
{% set left_align = false %}
{% set heading_markup = '
<span class="magnet-text" aria-hidden="true">Have a project in mind?</span>
<span aria-hidden="true">
  <img class="portrait-sm" src="/static/img/portrait.avif" alt="" />
  <span class="magnet-text colorful-text">Let’s collaborate!</span>
  <span class="emoji">🤝</span>
</span>
' %}
<!-- prettier-ignore -->
{% set heading_aria_label = 'Have a project in mind? Let’s collaborate' %}
{% include "./_includes/partials/hero.html" %}
