---
layout: app
path: work

title: Work // Aaron Garcia Creative
description: Explore the different projects I've worked on and learn more about what I offer.

# master props for cta-group
cta_1_text: Contact me
cta_1_url: /contact
cta_2_text: Book a call
cta_2_url: https://calendly.com/axyscreativeagency/15-min-intro?month=2024-10
cta_2_target: _blank
---

{% block head %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
{% endblock %}

<!-- prettier-ignore -->
{% set hero = true %}
{% set left_align = true %}
{% set heading_markup = '
<span class="magnet-text" aria-hidden="true">Creative & memorable</span>
<span aria-hidden="true">
  <span class="magnet-text color-text">web experiences</span>
  <span class="emoji gsap-animate">🤩</span>
</span>
' %}
<!-- prettier-ignore -->
{% set heading_aria_label = 'Creating memorable web experiences' %}
{% include "./_includes/partials/hero.html" %}

<!-- prettier-ignore -->
{% set section_title_text = "Recent work" %}
{% set show_all = true %}
{% set full_cta = true %}
{% include "./_includes/partials/work-list.html" %}

<!-- prettier-ignore -->
{% include "./_includes/partials/focus-cards.html" %}

<!-- prettier-ignore -->
{% include "./_includes/partials/work-gallery.html" %}

<!-- prettier-ignore -->
{% set cta_large_url = "/contact" %}
{% include "./_includes/partials/get-in-touch.html" %}

<!-- prettier-ignore -->
{% set hero = false %}
{% set left_align = false %}
{% set heading_markup = '
<span class="magnet-text" aria-hidden="true">Have a project in mind?</span>
<span aria-hidden="true">
  <img class="portrait-sm" src="/static/img/portrait.avif" alt="" />
  <span class="magnet-text color-text">Let’s collaborate!</span>
  <span class="emoji gsap-animate">🤝</span>
</span>
' %}
<!-- prettier-ignore -->
{% set heading_aria_label = 'Have a project in mind? Let’s collaborate' %}
{% include "./_includes/partials/hero.html" %}
