<section class="about-me">
  <div class="about-me__text">
    <!-- prettier-ignore -->
    {% set section_title_text = "About me" %}
    {% include "./section-title.html" %}

    <h3>Aaron Garcia</h3>
    <p>
      Hey, I’m Aaron 👋 a passionate designer and developer with an urge to make
      websites more user-friendly, accessible, and performant — key factors in
      converting traffic and business growth. Too many websites fall short when
      it comes to performance and accessibility standards. This is where I come
      in. Get started below!
    </p>

    <!-- prettier-ignore -->
    {% set content_start = false %}
    {% include "./cta-group.html" %}
  </div>

  <figure class="about-me__figure">
    <img src="/static/img/portrait.avif" alt="" />
  </figure>
</section>
