<div class="cta-group">
  {% if cta_1_text %}
  <!-- prettier-ignore -->
  <a
    class="cta-1 tab-element-page magnet magnet-wide-btn {% if content_start %}content-start{% endif %}"
    href="{{ cta_1_url }}"
    {% if cta_1_target %}
    target="{{ cta_1_target }}"
    {% endif %}
  >
    {{ cta_1_text }}
  </a>
  {% endif %}
  <!-- prettier-ignore -->
  {% if cta_2_text %}
  <a
    class="tab-element-page classic-link"
    href="{{ cta_2_url }}"
    target="{{ cta_2_target}}"
  >
    {{ cta_2_text }}
  </a>
  {% endif %}
</div>
