<footer class="site-footer">
  <ul class="site-footer__links" role="navigation">
    {% for item in navigation.items %}{% if item.text != 'Resumé' %}
    <li>
      <a
        class="header-links__link classic-link tab-element-page"
        href="{{ item.url }}"
        target="{{ item.target }}"
      >
        {{ item.text }}
      </a>
    </li>
    {% endif %}{% endfor %}
  </ul>

  <p class="copyright" aria-label="Copyright 2024, aaron garcia creative">
    <span aria-hidden="true">
      <span>&copy;</span>
      <span class="year-text"></span>
      <span>|</span>
      <span>aarongarciacreative</span>
    </span>
  </p>

  <div class="site-footer__details">
    <div class="details-block">
      <!-- prettier-ignore -->
      {% set section_title_text = "Location" %}
      {% set use_h3 = true %}
      {% include "./section-title.html" %}
      <p aria-label="Salt Lake City, Utah">
        <span aria-hidden="true">SLC, UT</span>
      </p>
    </div>
    <div class="details-block">
      <!-- prettier-ignore -->
      {% set section_title_text = "Local Time" %}
      {% set use_h3 = true %}
      {% include "./section-title.html" %}
      <time datetime="" data-timezone="America/Denver">
        Local time loading...
      </time>
    </div>
  </div>
</footer>
