<section class="get-in-touch">
  <div class="gsap-scale">
    <div class="bg-text" aria-hidden="true">
      <span class="bg-text__text">Hey, I’m Aaron Garcia!</span>
      <span class="bg-text__text">Let’s collaborate together</span>
      <span class="bg-text__text">Elevate your web experience</span>
      <span class="bg-text__text">Unlock access to unlimited</span>
      <span class="bg-text__text">Web design + development services</span>
      <span class="bg-text__text">Get started today, elevate your brand</span>
    </div>

    <div class="availability-wrapper">{% include "./availability.html" %}</div>

    <div class="large-cta-wrapper">
      <a
        class="cta-1 cta-1--large magnet magnet-wide-btn tab-element-page"
        href="{{ cta_large_url }}"
        aria-label="Get in touch with Aaron Garcia"
      >
        <span class="cta-1--large-emoji" aria-hidden="true">📨</span>
        Get in touch
        <span class="cta-1--large-arrow-group" aria-hidden="true">
          <span>→</span>
          <span>→</span>
        </span>
      </a>
    </div>
  </div>
</section>
