<section class="get-in-touch">
  <div class="gsap-scale">
    <div
      class="bg-text"
      aria-label="Hey I'm Aaron Garcia. Let’s collaborate together. Elevate your web experience."
      role="region"
    >
      <span class="bg-text__text" aria-hidden="true">
        Hey, I’m Aaron Garcia
      </span>
      <span class="bg-text__text" aria-hidden="true">
        Let’s collaborate together
      </span>
      <span class="bg-text__text" aria-hidden="true">
        Elevate your web experience
      </span>
      <span class="bg-text__text" aria-hidden="true">
        Unlock access to unlimited
      </span>
      <span class="bg-text__text" aria-hidden="true">
        Web design + development services
      </span>
      <span class="bg-text__text" aria-hidden="true">
        Get started today, elevate your brand
      </span>
    </div>

    <div class="availability-wrapper">{% include "./availability.html" %}</div>

    <div class="large-cta-wrapper">
      <a
        class="cta-1 cta-1--large magnet magnet-wide-btn"
        href="{{ cta_large_url }}"
      >
        <!-- 📞&nbsp; Get in touch → -->
        <!-- 📩&nbsp; Get in touch → -->
        <span class="cta-1--large-emoji">📨</span>
        Get in touch
        <span class="cta-1--large-arrow-group">
          <span>→</span>
          <span>→</span>
        </span>
      </a>
    </div>
  </div>
</section>
