<section class="goal-oriented">
  <!-- prettier-ignore -->
  {% set section_title_text = section_title_text %}
  {% include "./section-title.html" %}

  <p class="goal-oriented__paragraph h3">
    <span>
      Your brand deserves a
      <br aria-hidden="true" />
      strong web experience.
    </span>
    <span>
      My goal is to deliver <br aria-hidden="true" />
      quality impressions <br aria-hidden="true" />
      & memorable
      <abbr
        class="tooltip-target"
        aria-label="User experience"
        data-tooltip-title="💡 User experience"
      >
        UX</abbr
      >.
    </span>
    <span>
      Together, we’ll set <br aria-hidden="true" />
      the standards high.
    </span>
  </p>

  <!-- prettier-ignore -->
  {% set content_start = false %}
  {% include "./cta-group.html" %}
</section>
