<header class="site-header" aria-label="Site Header">
  <button class="color-swap skip-to-content">Skip to main content</button>

  <a class="header-logo color-swap full-animation" href="{{ settings.url }}">
    <svg
      width="70"
      height="59"
      viewBox="0 0 70 59"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="header-logo__icon"
    >
      <title>Aaron Garcia Creative Logo</title>
      <path
        d="M34.5 4L66 55H47L25.5 20L4 55H23.5L28 47"
        stroke-width="8"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="header-logo__icon-path"
      ></path>
    </svg>
  </a>

  {% if navigation.items %}
  <ul class="header-links color-swap" aria-label="Header navigation">
    {% for item in navigation.items %}
    <li>
      <!-- prettier-ignore -->
      <a
        class="header-links__link classic-link"
        href="{{ item.url }}"
        {% if item.target %}target="{{ item.target }}"{%endif%}
      >
        {{ item.text }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="menu-btn-wrapper color-swap">
    <button
      class="menu-btn"
      aria-controls="site-navigation"
      aria-label="Toggle navigation menu"
      aria-expanded="false"
    >
      <div class="menu-btn-line-wrapper">
        <span class="menu-btn-line"></span>
        <span class="menu-btn-line"></span>
      </div>
    </button>
  </div>

  <!-- prettier-ignore -->
  {% set strap_location = 'page' %}
  {% include "./strap.html" %}
</header>
