<header class="site-header" aria-label="Site Header">
  <button class="color-swap" id="skip-to-content">Skip to main content</button>

  <a class="header-logo color-swap" href="{{ settings.url }}">
    <img
      class="header-logo__icon"
      src="../../static/img/logo-light.svg"
      alt="{{ settings.name }} logo"
    />
  </a>

  {% if navigation.items %}
  <ul class="header-links color-swap">
    {% for item in navigation.items %}
    <li class="">
      <a
        class="header-links__link classic-link"
        href="{{ item.url }}"
        target="{{ item.target }}"
      >
        {{ item.text }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="menu-btn-wrapper color-swap">
    <button
      class="menu-btn"
      aria-controls="site-navigation"
      aria-label="Toggle navigation menu"
      aria-expanded="false"
    >
      <div class="menu-btn-line-wrapper">
        <span class="menu-btn-line"></span>
        <span class="menu-btn-line"></span>
      </div>
    </button>
  </div>

  <!-- prettier-ignore -->
  {% set location = 'page' %}
  {% include "./strap.html" %}
</header>
