<section
  class="
  {%if hero == true%}
    hero hero-{{ path }}
  {%else%}
    pre-footer pre-footer-{{ path }}
  {%endif%} 
  {%if left_align == true %}
    left-align
  {%endif%}
  "
  id="{%if hero == true%}hero-{{ path }}{%else%}pre-footer-{{ path }}{%endif%}"
>
  <!-- prettier-ignore -->
  {% include "./availability.html" %}

  <div class="heading-wrapper">
    {%if hero == true%}
    <h1 class="h1" aria-label="{{ heading_aria_label }}">
      {{ heading_markup | safe}}
    </h1>
    {%else%}
    <h2 class="h1" aria-label="{{ heading_aria_label }}">
      {{ heading_markup | safe}}
    </h2>
    {%endif%}

    <div class="background-ball-group" aria-hidden="true">
      <div class="background-ball background-ball--bluey"></div>
      <div class="background-ball background-ball--bingo"></div>
    </div>
  </div>

  <!-- Master props declared in partial "head" -->
  <!-- prettier-ignore -->
  {% if hero == true %}
    {% set content_start = true %}
  {% else %}
    {% set content_start = false %}
  {% endif %}
  {% include "./cta-group.html" %}
</section>
