<nav
  class="nav-menu"
  id="site-navigation"
  aria-label="Main Navigation"
  aria-hidden="true"
>
  {% if navigation.items %}
  <ul class="nav-links">
    <!-- prettier-ignore -->
    {% for item in navigation.items %} 
    {% if item.text != "Resumé" and item.text != "AXYS Creative" %}
    <li>
      <a class="nav-link tab-element-nav" href="{{ item.url }}">
        {{ item.text }}
      </a>
    </li>
    <!-- prettier-ignore -->
    {% endif %} 
    {% endfor %}
  </ul>
  {% endif %}

  <ul class="nav-footer-links">
    <li>
      <a class="nav-footer-link classic-link tab-element-nav" href="#">
        Resumé
      </a>
    </li>
    <li>
      <a class="nav-footer-link classic-link tab-element-nav" href="/contact">
        Contact
      </a>
    </li>
    <li>
      <a
        class="nav-footer-link classic-link tab-element-nav"
        href="https://axyscreative.com"
      >
        AXYS Creative
      </a>
    </li>
  </ul>

  <!-- prettier-ignore -->
  {% set strap_location = 'nav' %}
  {% include "./strap.html" %}
</nav>
