<figure class="strap-icon color-swap">
  <img src="../../static/img/icon-nodes.svg" alt="" />
</figure>
<aside class="strap strap--{{ location }}">
  <ul class="social-media-links" aria-label="social media links">
    {% for link in social_media.links %}
    <li>
      <a
        class="tab-element-{{ location }}"
        href="{{ link.url }}"
        target="_blank"
        aria-label="{{ link.title }}"
      >
        <img src="{{ link.src }}" alt="{{ link.title }}" />
      </a>
    </li>
    {% endfor%}
  </ul>
</aside>
