<section class="work-gallery invert-colors" id="work-gallery">
  {% include "./noise.html" %}

  <header class="work-gallery__header">
    <h2
      class="work-gallery__header-title h3"
      aria-label="{%if show_brands %}Brands I’ve been honored to work with.{%else%}Awe-inspiring results. Every time.{%endif%}"
    >
      <!-- prettier-ignore -->
      <span aria-hidden="true">
      {%if show_brands %} 
        Brands I’ve been 
      {%else%} 
        Awe-inspiring results.
      {%endif%}
      <br aria-hidden="true" />
      <!-- prettier-ignore -->
      {%if show_brands %} 
        honored to work with. 
      {%else%} 
        Every time. 
      {%endif%}
      </span>
    </h2>

    <p class="work-gallery__header-description">
      <!-- prettier-ignore -->
      {%if show_brands %}
        As a UI developer at
      <a href="https://rainfocus.com" target="_blank" class="classic-link"
        >RainFocus</a
      >, I’ve had the privilege of working with prestigious companies and
      businesses from around the world. {%else%} I focus on the small details
      that make a big difference, ensuring every project is WCAG-compliant for
      accessibility and optimized for high performance with strong Lighthouse
      scores. {%endif%}

      <br aria-hidden="true" />
      <br aria-hidden="true" />

      <!-- prettier-ignore -->
      {%if show_brands %}
        A significant part of my role involves styling the RainFocus platform to align with clients' brand and design guidelines. This requires diligent attention to detail, strong code organization, and clear communication—all to ensure a seamless experience for both clients and developers.
      {%else%}
        Driven by a passion for design and development, I tackle challenges and solve problems that help businesses thrive.
      {%endif%}
    </p>
  </header>

  <div
    class="{%if show_brands %}carousel{%else%}showreel{%endif%} escape-padding"
  >
    <!-- prettier-ignore -->
    {%if show_brands %}

    <div class="carousel-slider">
      {% for client in work_gallery.rainfocus_clients %}
      <figure class="carousel-slider__figure">
        <span
          class="carousel-slider__img"
          style="mask-image: url({{client.media}});"
        ></span>
      </figure>
      {% endfor %}
      <!-- prettier-ignore -->
      <!-- duplicating for marquee -->
      {% for client in work_gallery.rainfocus_clients %}
      <figure class="carousel-slider__figure">
        <span
          class="carousel-slider__img"
          style="mask-image: url({{client.media}});"
        ></span>
      </figure>
      {% endfor %}
    </div>

    <div class="carousel-slider">
      {% for client in work_gallery.rainfocus_clients %}
      <figure class="carousel-slider__figure">
        <span
          class="carousel-slider__img"
          style="mask-image: url({{client.media}});"
        ></span>
      </figure>
      {% endfor %}
      <!-- prettier-ignore -->
      <!-- duplicating for marquee -->
      {% for client in work_gallery.rainfocus_clients %}
      <figure class="carousel-slider__figure">
        <span
          class="carousel-slider__img"
          style="mask-image: url({{client.media}});"
        ></span>
      </figure>
      {% endfor %}
    </div>

    <button
      class="carousel__btn cta-1 magnet magnet-strong tooltip-target"
      aria-label="Pause carousel"
      aria-pressed="false"
      data-tooltip-title="💡 Toggle the carousel"
    >
      <span class="carousel__btn-icon carousel__btn-icon--playing"></span>
      <span class="carousel__btn-icon carousel__btn-icon--paused"></span>
    </button>

    {%else%}

    <div class="showreel-slider">
      {% for asset in work_gallery.axys_clients | slice(0, 4) %}
      <figure class="showreel-slider__figure">
        <!-- prettier-ignore -->
        {% set file_extension = asset.media | split('.') | last %}
      
        {% if file_extension == 'avif' or file_extension == 'webp' %}
        <img
          class="showreel-slider__asset {{ asset.class }}"
          src="{{ asset.media }}"
          alt="{{ asset.title }}"
          loading="lazy"
          width="300"
          height="200"
        />
        {% elseif file_extension == 'mov' or file_extension == 'mp4' %}
        <div class="showreel-slider__asset {{ asset.class }}">
          <video
            src="{{ asset.media }}"
            poster="{{ asset.poster }}"
            autoplay
            playsinline
            loop
            muted
            aria-label="{{ asset.title }} animation showcase"
            width="300"
            height="200"
            aria-hidden="true"
          ></video>
        </div>
        {% endif %}
      </figure>
      {% endfor %}
    </div>

    <div class="showreel-slider">
      {% for asset in work_gallery.axys_clients | slice(-4) %}
      <figure class="showreel-slider__figure">
        <!-- prettier-ignore -->
        {% set file_extension = asset.media | split('.') | last %}
      
        {% if file_extension == 'avif' or file_extension == 'webp' %}
        <img
          class="showreel-slider__asset {{ asset.class }}"
          src="{{ asset.media }}"
          alt="{{ asset.title }}"
          loading="lazy"
          width="300"
          height="200"
        />
        {% elseif file_extension == 'mov' or file_extension == 'mp4' %}
        <div class="showreel-slider__asset {{ asset.class }}">
          <video
            src="{{ asset.media }}"
            poster="{{ asset.poster }}"
            autoplay
            playsinline
            loop
            muted
            width="300"
            height="200"
            aria-hidden="true"
          ></video>
        </div>
        {% endif %}
      </figure>
      {% endfor %}
    </div>

    {%endif%}
  </div>
</section>
