<section class="work-gallery invert-colors" id="work-gallery">
  {% include "./noise.html" %}

  <header class="work-gallery__header">
    <h2 class="work-gallery__header-title h3">
      <!-- prettier-ignore -->
      {%if show_brands %} 
        Brands I’ve been 
      {%else%} 
        Awe inspiring results.
      {%endif%}
      <br aria-hidden="true" />
      <!-- prettier-ignore -->
      {%if show_brands %} 
        honored to work with. 
      {%else%} 
        Every time. 
      {%endif%}
    </h2>

    <p class="work-gallery__header-description">
      <!-- prettier-ignore -->
      {%if show_brands %}
        As a UI developer at
      <a href="https://rainfocus.com" target="_blank" class="classic-link">
        Rainfocus</a
      >, I’ve been privileged to work with prestigious companies and businesses
      from across the globe. {%else%} I focus on the small details that make a
      big difference, ensuring every project is WCAG-compliant for accessibility
      and optimized for high performance with strong Lighthouse scores.
      {%endif%}

      <br aria-hidden="true" />
      <br aria-hidden="true" />

      <!-- prettier-ignore -->
      {%if show_brands %}
        A major role has been styling the Rainfocus platform
        to meet the client’s brand and design guidelines, which requires diligent
        attention to detail, strong organization in the code, and a keen focus on
        communication — all to ensure a seamless experience for the client’s (and
        developer’s) experience.
      {%else%}
        It’s all driven by my passion for design
        and development—while tackling challenges and solving problems that help
        businesses thrive.
      {%endif%}
    </p>
  </header>

  <div
    class="{%if show_brands %}carousel{%else%}showreel{%endif%} escape-padding"
  >
    <!-- prettier-ignore -->
    {%if show_brands %}

    <div class="carousel-slider">
      {% for client in work_gallery.rainfocus_clients %}
      <figure class="carousel-slider__figure">
        <span
          class="carousel-slider__img"
          style="mask-image: url({{client.media}});"
        ></span>
      </figure>
      {% endfor %}
      <!-- prettier-ignore -->
      <!-- duplicating for marquee -->
      {% for client in work_gallery.rainfocus_clients %}
      <figure class="carousel-slider__figure">
        <span
          class="carousel-slider__img"
          style="mask-image: url({{client.media}});"
        ></span>
      </figure>
      {% endfor %}
    </div>

    <div class="carousel-slider">
      {% for client in work_gallery.rainfocus_clients %}
      <figure class="carousel-slider__figure">
        <span
          class="carousel-slider__img"
          style="mask-image: url({{client.media}});"
        ></span>
      </figure>
      {% endfor %}
      <!-- prettier-ignore -->
      <!-- duplicating for marquee -->
      {% for client in work_gallery.rainfocus_clients %}
      <figure class="carousel-slider__figure">
        <span
          class="carousel-slider__img"
          style="mask-image: url({{client.media}});"
        ></span>
      </figure>
      {% endfor %}
    </div>

    {%else%}

    <div class="showreel-slider">
      {% for asset in work_gallery.axys_clients | slice(0, 4) %}
      <figure class="showreel-slider__figure">
        <!-- prettier-ignore -->
        {% set file_extension = asset.media | split('.') | last %}
      
        {% if file_extension == 'avif' or file_extension == 'webp' %}
        <img
          class="showreel-slider__asset {{ asset.class }}"
          src="{{ asset.media }}"
          alt="{{ asset.title }}"
          loading="lazy"
          width="300"
          height="200"
        />
        {% elseif file_extension == 'mov' or file_extension == 'mp4' %}
        <div class="showreel-slider__asset {{ asset.class }}">
          <video
            src="{{ asset.media }}"
            poster="{{ asset.poster }}"
            autoplay
            playsinline
            loop
            muted
            loading="lazy"
            aria-label="{{ asset.title }} animation showcase"
            width="300"
            height="200"
          ></video>
        </div>
        {% endif %}
      </figure>
      {% endfor %}
    </div>

    <div class="showreel-slider">
      {% for asset in work_gallery.axys_clients | slice(-4) %}
      <figure class="showreel-slider__figure">
        <!-- prettier-ignore -->
        {% set file_extension = asset.media | split('.') | last %}
      
        {% if file_extension == 'avif' or file_extension == 'webp' %}
        <img
          class="showreel-slider__asset {{ asset.class }}"
          src="{{ asset.media }}"
          alt="{{ asset.title }}"
          loading="lazy"
          width="300"
          height="200"
        />
        {% elseif file_extension == 'mov' or file_extension == 'mp4' %}
        <div class="showreel-slider__asset {{ asset.class }}">
          <video
            src="{{ asset.media }}"
            poster="{{ asset.poster }}"
            autoplay
            playsinline
            loop
            muted
            loading="lazy"
            width="300"
            height="200"
          ></video>
        </div>
        {% endif %}
      </figure>
      {% endfor %}
    </div>

    {%endif%}
  </div>
</section>
