<section class="work-section" id="work-section">
  {% if include_header %}
  <header class="work-section__header">
    {% include "./section-title.html" %}

    <a class="classic-link tab-element-page" href="#">View all projects</a>
  </header>
  {% endif %}
  <!-- prettier-ignore -->
  <div class="work-section__projects">
     {% for project in work_section.work_items %}
     <hr class="service-divider gsap-animate" aria-hidden="true">

     <div class="work-item">
       <h3 class="work-item__title h4">{{ project.title }}</h3>

       <ul class="badge-list  work-item__badges">
        {% for badge in project.badges %}
        <li class="badge">{{ badge }}</li> 
        {% endfor %}
       </ul>

       <a 
        class="cta-1 magnet magnet-wide-btn tab-element-page" 
        href="{{ project.url }}" 
        target="_blank"
       >
       Visit site
      </a>
     </div>

      {% if loop.last %}
      <hr
        class="service-divider service-divider--last gsap-animate"
        aria-hidden="true"
      >
      {% endif %}
     {% endfor %}
   </div>
</section>
