<section
  class="work-list {% if show_all == false %}work-list--limit-count{%endif%} {% if is_archive == true %}work-list--archive{%endif%}"
  id="work-list"
>
  {% if section_title_text %}
  <header class="work-list__header">
    <!-- prettier-ignore -->
    {% set sup_text = section_title_text_sup_text %} 
    {% include "./section-title.html" %}

    <!-- prettier-ignore -->
    {% if is_archive != true %}
    <a
      class="classic-link tab-element-page"
      href="/archive"
      aria-label="Visit archive ({{ work_list.work_items.length }}) items"
    >
      Visit archive [{{ work_list.work_items.length }}]
    </a>
    {% endif %}
  </header>
  {% endif %}

  <div class="work-list__projects">
    {% for project in work_list.work_items %}
    <hr
      class="service-divider gsap-animate {%if project.archive == true%}service-divider--archive{%endif%}"
      aria-hidden="true"
    />

    <div
      class="work-item {%if project.archive == true%}work-item--archive{%endif%}"
    >
      <img
        class="work-item__logo"
        src="{{ project.logo }}"
        alt="{{ project.title }} logo"
      />

      <figure class="work-item__showcase {{ project.background }}">
        <img
          class="work-item__showcase-img"
          src="{{ project.image }}"
          alt="{{ project.title }} hero section"
        />
      </figure>

      <!-- <div class="no-cursor-img"> -->
      <ul class="badge-list work-item__badges">
        {% for badge in project.badges %}
        <li class="badge">{{ badge }}</li>
        {% endfor %}
      </ul>

      <a
        class="work-item__cta cta-1 magnet magnet-wide-btn tab-element-page"
        href="{{ project.url }}"
        target="_blank"
        aria-label="Visit {{ project.title }}’s website"
      >
        Visit site
      </a>
      <!-- </div> -->
    </div>

    {% if loop.last %}
    <hr
      class="service-divider service-divider--last gsap-animate"
      aria-hidden="true"
    />
    {% endif %} {% endfor %}
  </div>

  <!-- for single cta -->
  {% if section_cta_text %}
  <footer class="work-list__footer">
    <a
      href="{{ section_cta_url }}"
      class="cta-1 magnet magnet-wide-btn tab-element-page"
    >
      {{ section_cta_text }}
    </a>
  </footer>
  {% endif %}

  <!-- prettier-ignore -->
  <footer class="work-list__footer">
     {% if full_cta == true %}
       {% include "./cta-group.html" %} 
     {% endif %}
   </footer>
</section>
