<section class="work-gallery">
  <header class="work-gallery__header">
    <h2 class="work-gallery__header-title h3">
      Awe inspiring results.
      <br aria-hidden="true" />
      Every time.
    </h2>

    <p class="work-gallery__header-description">
      I focus on the small details that make a big difference, ensuring every
      project is WCAG-compliant for accessibility and optimized for high
      performance with strong Lighthouse scores.
      <br aria-hidden="true" />
      <br aria-hidden="true" />
      It’s all driven by my passion for design and development—while tackling
      challenges and solving problems that help businesses thrive.
    </p>
  </header>
</section>
